In [3]:
import json
import pandas as pd

In [4]:
filePath = "../data/data.csv"

In [5]:
df = pd.read_csv(filePath)

In [6]:
df.head()

,SubmitDateTime,UserId,ExerciseId,LearningObjectiveId,Correct,AbilityAfterAnswer
0,2017-11-28 07:32:54.487,2041,1132397,785,1,552
1,2017-11-28 07:33:16.340,2041,2214055,785,0,542
2,2017-11-28 07:33:19.497,2041,2214055,785,0,NULL
3,2017-11-28 07:33:26.300,2041,2214055,785,1,NULL
4,2017-11-28 07:33:35.043,2041,1599782,785,1,544

In [16]:
df['UserId'].unique()

array([   2041,  874250,  874240,    2014,    2070,  874244,    2043,
          2101,    2031,    2083,    2080,    2102,    2017,    2058,
          2062,    2072,    2024,    2096,    2056,    2016,    2060,
          2099,    2021,    2078,    2040,    2087,  874252,  874236,
        874251,  874246,  874237,    2071,  874231,    2091, 1309847])

In [9]:
df

,SubmitDateTime,UserId,ExerciseId,LearningObjectiveId,Correct,AbilityAfterAnswer
0,2017-11-28 07:32:54.487,2041,1132397,785,1,552
1,2017-11-28 07:33:16.340,2041,2214055,785,0,542
2,2017-11-28 07:33:19.497,2041,2214055,785,0,NULL
3,2017-11-28 07:33:26.300,2041,2214055,785,1,NULL
4,2017-11-28 07:33:35.043,2041,1599782,785,1,544
5,2017-11-28 07:33:59.967,2041,484507,785,1,547
6,2017-11-28 07:34:14.817,2041,558221,785,1,549
7,2017-11-28 07:34:21.163,874250,885877,54,1,NULL
8,2017-11-28 07:34:25.377,2041,632762,785,1,552
9,2017-11-28 07:34:33.747,2041,1130049,785,0,542
10,2017-11-28 07:34:38.390,2041,1130049,785,1,NULL
11,2017-11-28 07:34:42.067,874240,881555,54,1,519
12,2017-11-28 07:34:48.890,874250,870054,54,1,371
13,2017-11-28 07:34:54.603,874240,2144763,54,0,506
14,2017-11-28 07:35:04.043,874240,2144763,54,1,NULL
15,2017-11-28 07:35:17.767,874250,858815,54,1,376
16,2017-11-28 07:35:28.087,874240,2199584,54,1,512
17,2017-11-28 07:35:46.067,874240,1601164,54,1,518
18,2017-11-28 07:36:01.227,874240,2199581,54,1,524
19,2017-11-28 07:36:13.170,874250,870013,54,1,383
20,2017-11-28 07:36:27.790,874240,870065,54,0,511
21,2017-11-28 07:36:34.890,874250,956035,54,1,387
22,2017-11-28 07:36:41.130,874240,870065,54,1,NULL
23,2017-11-28 07:36:48.273,874250,2199564,54,1,393
24,2017-11-28 07:37:01.930,874250,960866,54,0,379
25,2017-11-28 07:37:06.457,2014,1992302,1964,0,NULL
26,2017-11-28 07:37:07.020,874250,960866,54,1,NULL
27,2017-11-28 07:37:09.370,874240,870061,54,1,517
28,2017-11-28 07:37:09.887,2014,1992302,1964,0,NULL
29,2017-11-28 07:37:16.637,2014,1992302,1964,1,NULL
...,...,...,...,...,...,...
7126,2017-12-04 08:45:38.130,2078,1687934,7579,0,NULL
7127,2017-12-04 08:45:40.033,2056,1688084,7579,0,NULL
7128,2017-12-04 08:45:42.307,2096,1689884,7579,1,NULL
7129,2017-12-04 08:45:45.220,2099,1687934,7579,1,NULL
7130,2017-12-04 08:45:48.977,2056,1688089,7579,0,NULL
7131,2017-12-04 08:45:54.983,2056,1688014,7579,1,NULL
7132,2017-12-04 08:46:12.050,2078,1689690,7579,1,NULL
7133,2017-12-04 08:46:21.603,2056,1689884,7579,0,NULL
7134,2017-12-04 08:46:26.410,2099,1689690,7579,1,NULL
7135,2017-12-04 08:46:30.030,2078,1689664,7579,1,NULL
7136,2017-12-04 08:46:46.157,2078,2151780,7579,1,NULL
7137,2017-12-04 08:46:49.173,2099,1689664,7579,1,NULL
7138,2017-12-04 08:46:51.867,2078,1687959,7579,1,NULL
7139,2017-12-04 08:46:56.193,2099,2151780,7579,1,NULL
7140,2017-12-04 08:46:58.413,2078,1689779,7579,1,NULL
7141,2017-12-04 08:47:04.570,2099,1687959,7579,1,NULL
7142,2017-12-04 08:47:07.767,2078,1688084,7579,1,NULL
7143,2017-12-04 08:47:13.837,2078,1688089,7579,1,NULL
7144,2017-12-04 08:47:20.053,2078,1688014,7579,1,NULL
7145,2017-12-04 08:47:33.660,2078,1689884,7579,1,NULL
7146,2017-12-04 08:47:39.177,2099,1689779,7579,1,NULL
7147,2017-12-04 08:47:48.063,2099,1688084,7579,1,NULL
7148,2017-12-04 08:47:55.970,2021,1687934,7579,0,NULL
7149,2017-12-04 08:48:06.807,2099,1688089,7579,1,NULL
7150,2017-12-04 08:48:21.900,2099,1688014,7579,1,NULL
7151,2017-12-04 08:49:06.177,2099,1689884,7579,1,NULL
7152,2017-12-04 08:50:05.243,2024,1688014,7579,0,NULL
7153,2017-12-04 08:50:40.717,2024,1688089,7579,1,NULL
7154,2017-12-04 08:50:45.543,2096,1687934,7579,0,NULL
7155,2017-12-04 08:51:02.800,2024,1689884,7579,1,NULL

In [21]:
df.loc[df['UserId'] == 2024]

,SubmitDateTime,UserId,ExerciseId,LearningObjectiveId,Correct,AbilityAfterAnswer
84,2017-11-28 07:48:43.260,2024,1512433,8025,1,NULL
100,2017-11-28 07:49:15.373,2024,1928354,8025,1,NULL
120,2017-11-28 07:49:46.477,2024,2151770,8025,1,NULL
158,2017-11-28 07:50:47.200,2024,2151771,8025,1,NULL
196,2017-11-28 07:52:04.270,2024,966492,8025,1,NULL
227,2017-11-28 07:52:51.617,2024,1067176,8025,1,NULL
262,2017-11-28 07:53:59.437,2024,1041097,8025,1,NULL
314,2017-11-28 07:55:41.803,2024,832284,8025,1,NULL
416,2017-11-28 07:58:36.417,2024,1740148,7789,0,NULL
477,2017-11-28 08:00:40.823,2024,1740522,7789,0,NULL
663,2017-11-28 08:06:31.727,2024,1740541,7789,0,NULL
728,2017-11-28 08:08:24.457,2024,1740547,7789,0,NULL
737,2017-11-28 08:08:48.310,2024,1334482,7789,1,NULL
749,2017-11-28 08:09:07.190,2024,1334489,7789,1,NULL
759,2017-11-28 08:09:24.363,2024,1334486,7789,0,NULL
766,2017-11-28 08:09:39.490,2024,1334488,7789,1,NULL
770,2017-11-28 08:10:08.990,2024,1152951,7771,1,NULL
821,2017-11-28 08:12:44.910,2024,1152955,7771,1,NULL
832,2017-11-28 08:13:20.923,2024,1467251,7771,1,NULL
854,2017-11-28 08:14:32.677,2024,960793,7771,0,NULL
870,2017-11-28 09:27:15.070,2024,2151774,8025,1,NULL
907,2017-11-28 09:28:23.093,2024,1683854,8025,1,NULL
925,2017-11-28 09:28:57.097,2024,1683859,8025,1,NULL
968,2017-11-28 09:29:52.317,2024,1683868,8025,1,NULL
985,2017-11-28 09:30:40.363,2024,1683947,8025,1,NULL
992,2017-11-28 09:31:34.053,2024,1683951,8025,1,NULL
1027,2017-11-28 09:33:02.880,2024,1683954,8025,1,NULL
1053,2017-11-28 09:34:22.733,2024,1684039,8025,1,NULL
1104,2017-11-28 09:37:12.580,2024,1684040,8025,1,NULL
1113,2017-11-28 09:37:38.350,2024,1684029,8025,1,NULL
...,...,...,...,...,...,...
6531,2017-12-04 08:10:43.743,2024,1740151,7789,1,NULL
6591,2017-12-04 08:12:13.550,2024,1740524,7789,1,NULL
6612,2017-12-04 08:12:43.703,2024,2144152,7789,1,NULL
6622,2017-12-04 08:12:57.057,2024,1334483,7789,1,NULL
6627,2017-12-04 08:13:09.377,2024,1334484,7789,1,NULL
6635,2017-12-04 08:13:21.747,2024,1334485,7789,1,NULL
6638,2017-12-04 08:13:29.537,2024,1334487,7789,1,NULL
6654,2017-12-04 08:14:04.730,2024,1152951,7771,1,NULL
6665,2017-12-04 08:14:35.500,2024,1467251,7771,0,NULL
6675,2017-12-04 08:15:15.267,2024,933320,7771,0,NULL
6688,2017-12-04 08:16:10.727,2024,1467252,7771,1,NULL
6698,2017-12-04 08:16:37.327,2024,1222454,7771,0,NULL
6716,2017-12-04 08:17:40.667,2024,1474966,7771,0,NULL
6730,2017-12-04 08:18:52.610,2024,1474963,7771,0,NULL
6741,2017-12-04 08:19:32.193,2024,1474967,7771,1,NULL
6832,2017-12-04 08:38:06.917,2024,1689627,7579,1,NULL
6849,2017-12-04 08:38:30.507,2024,1687950,7579,1,NULL
6881,2017-12-04 08:39:03.660,2024,1687929,7579,1,NULL
6895,2017-12-04 08:39:13.010,2024,1689632,7579,1,NULL
6902,2017-12-04 08:39:19.287,2024,1687930,7579,1,NULL
6951,2017-12-04 08:40:10.550,2024,1687934,7579,1,NULL
6969,2017-12-04 08:40:29.590,2024,1689690,7579,1,NULL
7009,2017-12-04 08:41:13.040,2024,1689664,7579,1,NULL
7034,2017-12-04 08:41:38.800,2024,2151780,7579,1,NULL
7045,2017-12-04 08:41:53.240,2024,1687959,7579,1,NULL
7071,2017-12-04 08:42:42.250,2024,1689779,7579,1,NULL
7124,2017-12-04 08:45:23.630,2024,1688084,7579,0,NULL
7152,2017-12-04 08:50:05.243,2024,1688014,7579,0,NULL
7153,2017-12-04 08:50:40.717,2024,1688089,7579,1,NULL
7155,2017-12-04 08:51:02.800,2024,1689884,7579,1,NULL

In [31]:
Exerciseid = df['ExerciseId'].unique()

In [72]:
difficulty_score_of_exercise = {}
for eid in Exerciseid:
    print(len(df.loc[df['ExerciseId'] == eid]), eid)
    print('#####')
    print(len(df.loc[df['ExerciseId'] == eid]['UserId'].unique()))
    print('diffscore',len(df.loc[df['ExerciseId'] == eid]) / len(df.loc[df['ExerciseId'] == eid]['UserId'].unique()))
    difficulty_score_of_exercise[eid] = len(df.loc[df['ExerciseId'] == eid]) / len(df.loc[df['ExerciseId'] == eid]['UserId'].unique())

(1, 1132397)
#####
1
('diffscore', 1)
(3, 2214055)
#####
1
('diffscore', 3)
(1, 1599782)
#####
1
('diffscore', 1)
(1, 484507)
#####
1
('diffscore', 1)
(1, 558221)
#####
1
('diffscore', 1)
(2, 885877)
#####
2
('diffscore', 1)
(1, 632762)
#####
1
('diffscore', 1)
(2, 1130049)
#####
1
('diffscore', 2)
(1, 881555)
#####
1
('diffscore', 1)
(2, 870054)
#####
2
('diffscore', 1)
(2, 2144763)
#####
1
('diffscore', 2)
(2, 858815)
#####
2
('diffscore', 1)
(1, 2199584)
#####
1
('diffscore', 1)
(1, 1601164)
#####
1
('diffscore', 1)
(1, 2199581)
#####
1
('diffscore', 1)
(2, 870013)
#####
2
('diffscore', 1)
(2, 870065)
#####
1
('diffscore', 2)
(1, 956035)
#####
1
('diffscore', 1)
(1, 2199564)
#####
1
('diffscore', 1)
(2, 960866)
#####
1
('diffscore', 2)
(3, 1992302)
#####
1
('diffscore', 3)
(1, 870061)
#####
1
('diffscore', 1)
(1, 206184)
#####
1
('diffscore', 1)
(1, 854123)
#####
1
('diffscore', 1)
(1, 302635)
#####
1
('diffscore', 1)
(1, 1410737)
#####
1
('diffscore', 1)
(1, 2194909)
#####
1
('diffscore', 1)
(1, 2167759)
#####
1
('diffscore', 1)
(2, 726329)
#####
1
('diffscore', 2)
(1, 1317027)
#####
1
('diffscore', 1)
(1, 2194929)
#####
1
('diffscore', 1)
(1, 881574)
#####
1
('diffscore', 1)
(1, 631711)
#####
1
('diffscore', 1)
(1, 2194902)
#####
1
('diffscore', 1)
(1, 9562)
#####
1
('diffscore', 1)
(1, 416294)
#####
1
('diffscore', 1)
(1, 657516)
#####
1
('diffscore', 1)
(1, 2199582)
#####
1
('diffscore', 1)
(1, 1354725)
#####
1
('diffscore', 1)
(1, 2082934)
#####
1
('diffscore', 1)
(1, 98091)
#####
1
('diffscore', 1)
(1, 1343319)
#####
1
('diffscore', 1)
(1, 858813)
#####
1
('diffscore', 1)
(1, 120474)
#####
1
('diffscore', 1)
(1, 1416000)
#####
1
('diffscore', 1)
(1, 122454)
#####
1
('diffscore', 1)
(23, 1512433)
#####
23
('diffscore', 1)
(48, 1928354)
#####
25
('diffscore', 1)
(23, 2151770)
#####
23
('diffscore', 1)
(23, 2151771)
#####
23
('diffscore', 1)
(23, 966492)
#####
23
('diffscore', 1)
(23, 1067176)
#####
23
('diffscore', 1)
(23, 1041097)
#####
23
('diffscore', 1)
(23, 832284)
#####
23
('diffscore', 1)
(23, 1740148)
#####
23
('diffscore', 1)
(23, 1740522)
#####
23
('diffscore', 1)
(23, 1740541)
#####
23
('diffscore', 1)
(23, 1740547)
#####
23
('diffscore', 1)
(22, 1334482)
#####
22
('diffscore', 1)
(22, 1334489)
#####
22
('diffscore', 1)
(22, 1334486)
#####
22
('diffscore', 1)
(22, 1334488)
#####
22
('diffscore', 1)
(47, 1152951)
#####
25
('diffscore', 1)
(22, 1152955)
#####
22
('diffscore', 1)
(46, 1467251)
#####
25
('diffscore', 1)
(21, 960793)
#####
21
('diffscore', 1)
(20, 1474965)
#####
20
('diffscore', 1)
(19, 1474964)
#####
19
('diffscore', 1)
(44, 1474963)
#####
25
('diffscore', 1)
(19, 1474962)
#####
19
('diffscore', 1)
(2, 1506130)
#####
2
('diffscore', 1)
(2, 375151)
#####
2
('diffscore', 1)
(1, 866885)
#####
1
('diffscore', 1)
(1, 652469)
#####
1
('diffscore', 1)
(1, 1697740)
#####
1
('diffscore', 1)
(1, 610445)
#####
1
('diffscore', 1)
(1, 713411)
#####
1
('diffscore', 1)
(1, 968070)
#####
1
('diffscore', 1)
(1, 597827)
#####
1
('diffscore', 1)
(1, 1491866)
#####
1
('diffscore', 1)
(1, 1690310)
#####
1
('diffscore', 1)
(3, 1515673)
#####
1
('diffscore', 3)
(1, 1514971)
#####
1
('diffscore', 1)
(1, 407506)
#####
1
('diffscore', 1)
(2, 121232)
#####
1
('diffscore', 2)
(2, 1336450)
#####
1
('diffscore', 2)
(1, 1189002)
#####
1
('diffscore', 1)
(1, 1431979)
#####
1
('diffscore', 1)
(1, 1690321)
#####
1
('diffscore', 1)
(1, 407507)
#####
1
('diffscore', 1)
(1, 419876)
#####
1
('diffscore', 1)
(1, 1140200)
#####
1
('diffscore', 1)
(1, 1148230)
#####
1
('diffscore', 1)
(2, 946595)
#####
1
('diffscore', 2)
(1, 603334)
#####
1
('diffscore', 1)
(1, 764999)
#####
1
('diffscore', 1)
(1, 1647377)
#####
1
('diffscore', 1)
(1, 1447231)
#####
1
('diffscore', 1)
(1, 1746661)
#####
1
('diffscore', 1)
(1, 1473082)
#####
1
('diffscore', 1)
(1, 503879)
#####
1
('diffscore', 1)
(1, 164444)
#####
1
('diffscore', 1)
(1, 1306631)
#####
1
('diffscore', 1)
(1, 1259177)
#####
1
('diffscore', 1)
(1, 201474)
#####
1
('diffscore', 1)
(1, 50341)
#####
1
('diffscore', 1)
(1, 1594572)
#####
1
('diffscore', 1)
(1, 315243)
#####
1
('diffscore', 1)
(2, 1707496)
#####
1
('diffscore', 2)
(2, 1451833)
#####
1
('diffscore', 2)
(2, 1690319)
#####
1
('diffscore', 2)
(1, 427669)
#####
1
('diffscore', 1)
(1, 1454542)
#####
1
('diffscore', 1)
(7, 1164526)
#####
7
('diffscore', 1)
(1, 1430175)
#####
1
('diffscore', 1)
(1, 1454531)
#####
1
('diffscore', 1)
(1, 1513572)
#####
1
('diffscore', 1)
(1, 1118839)
#####
1
('diffscore', 1)
(1, 1623768)
#####
1
('diffscore', 1)
(1, 1491726)
#####
1
('diffscore', 1)
(1, 1098473)
#####
1
('diffscore', 1)
(1, 552998)
#####
1
('diffscore', 1)
(1, 767014)
#####
1
('diffscore', 1)
(1, 962852)
#####
1
('diffscore', 1)
(1, 1491869)
#####
1
('diffscore', 1)
(1, 118428)
#####
1
('diffscore', 1)
(1, 1361282)
#####
1
('diffscore', 1)
(1, 1090537)
#####
1
('diffscore', 1)
(1, 679848)
#####
1
('diffscore', 1)
(1, 1460582)
#####
1
('diffscore', 1)
(1, 1509567)
#####
1
('diffscore', 1)
(1, 2064756)
#####
1
('diffscore', 1)
(1, 326901)
#####
1
('diffscore', 1)
(1, 1473085)
#####
1
('diffscore', 1)
(1, 1508641)
#####
1
('diffscore', 1)
(1, 326921)
#####
1
('diffscore', 1)
(2, 290733)
#####
1
('diffscore', 2)
(1, 326922)
#####
1
('diffscore', 1)
(2, 326923)
#####
1
('diffscore', 2)
(1, 1847959)
#####
1
('diffscore', 1)
(1, 326924)
#####
1
('diffscore', 1)
(1, 1130620)
#####
1
('diffscore', 1)
(1, 1260501)
#####
1
('diffscore', 1)
(2, 274451)
#####
1
('diffscore', 2)
(2, 1130625)
#####
1
('diffscore', 2)
(1, 1123180)
#####
1
('diffscore', 1)
(1, 361912)
#####
1
('diffscore', 1)
(1, 622975)
#####
1
('diffscore', 1)
(1, 653782)
#####
1
('diffscore', 1)
(1, 1447541)
#####
1
('diffscore', 1)
(2, 302453)
#####
1
('diffscore', 2)
(1, 1130622)
#####
1
('diffscore', 1)
(1, 1332789)
#####
1
('diffscore', 1)
(1, 467207)
#####
1
('diffscore', 1)
(1, 1130621)
#####
1
('diffscore', 1)
(1, 294958)
#####
1
('diffscore', 1)
(3, 1130623)
#####
1
('diffscore', 3)
(1, 906826)
#####
1
('diffscore', 1)
(1, 552139)
#####
1
('diffscore', 1)
(1, 407499)
#####
1
('diffscore', 1)
(1, 1143655)
#####
1
('diffscore', 1)
(1, 1130624)
#####
1
('diffscore', 1)
(1, 368018)
#####
1
('diffscore', 1)
(1, 1466472)
#####
1
('diffscore', 1)
(1, 362617)
#####
1
('diffscore', 1)
(1, 1460598)
#####
1
('diffscore', 1)
(1, 1130629)
#####
1
('diffscore', 1)
(1, 1130626)
#####
1
('diffscore', 1)
(1, 1154455)
#####
1
('diffscore', 1)
(1, 1130627)
#####
1
('diffscore', 1)
(1, 1130628)
#####
1
('diffscore', 1)
(2, 329059)
#####
1
('diffscore', 2)
(1, 653786)
#####
1
('diffscore', 1)
(1, 1148304)
#####
1
('diffscore', 1)
(1, 1685964)
#####
1
('diffscore', 1)
(1, 653795)
#####
1
('diffscore', 1)
(1, 653824)
#####
1
('diffscore', 1)
(1, 653825)
#####
1
('diffscore', 1)
(1, 1033397)
#####
1
('diffscore', 1)
(1, 2353474)
#####
1
('diffscore', 1)
(1, 1336412)
#####
1
('diffscore', 1)
(2, 767395)
#####
1
('diffscore', 2)
(1, 1559458)
#####
1
('diffscore', 1)
(1, 1130614)
#####
1
('diffscore', 1)
(1, 1174045)
#####
1
('diffscore', 1)
(1, 1174044)
#####
1
('diffscore', 1)
(1, 1158692)
#####
1
('diffscore', 1)
(1, 1174046)
#####
1
('diffscore', 1)
(1, 1130616)
#####
1
('diffscore', 1)
(3, 1174048)
#####
1
('diffscore', 3)
(1, 1197191)
#####
1
('diffscore', 1)
(1, 941451)
#####
1
('diffscore', 1)
(1, 818692)
#####
1
('diffscore', 1)
(2, 1010038)
#####
1
('diffscore', 2)
(1, 1174049)
#####
1
('diffscore', 1)
(1, 892042)
#####
1
('diffscore', 1)
(1, 1174066)
#####
1
('diffscore', 1)
(1, 1653971)
#####
1
('diffscore', 1)
(1, 1174050)
#####
1
('diffscore', 1)
(1, 420596)
#####
1
('diffscore', 1)
(1, 407838)
#####
1
('diffscore', 1)
(1, 88686)
#####
1
('diffscore', 1)
(1, 1074832)
#####
1
('diffscore', 1)
(1, 1174051)
#####
1
('diffscore', 1)
(1, 1074156)
#####
1
('diffscore', 1)
(1, 941135)
#####
1
('diffscore', 1)
(1, 861461)
#####
1
('diffscore', 1)
(1, 51388)
#####
1
('diffscore', 1)
(1, 1513774)
#####
1
('diffscore', 1)
(1, 88689)
#####
1
('diffscore', 1)
(1, 465150)
#####
1
('diffscore', 1)
(2, 1007178)
#####
1
('diffscore', 2)
(1, 294660)
#####
1
('diffscore', 1)
(1, 1196408)
#####
1
('diffscore', 1)
(1, 1653968)
#####
1
('diffscore', 1)
(1, 1813758)
#####
1
('diffscore', 1)
(2, 180457)
#####
1
('diffscore', 2)
(1, 1163004)
#####
1
('diffscore', 1)
(1, 1623776)
#####
1
('diffscore', 1)
(1, 99811)
#####
1
('diffscore', 1)
(1, 138613)
#####
1
('diffscore', 1)
(1, 2285085)
#####
1
('diffscore', 1)
(1, 1674716)
#####
1
('diffscore', 1)
(2, 1506632)
#####
1
('diffscore', 2)
(1, 1530040)
#####
1
('diffscore', 1)
(1, 1453560)
#####
1
('diffscore', 1)
(1, 1498325)
#####
1
('diffscore', 1)
(2, 205759)
#####
1
('diffscore', 2)
(1, 1605943)
#####
1
('diffscore', 1)
(1, 265209)
#####
1
('diffscore', 1)
(2, 189325)
#####
1
('diffscore', 2)
(3, 1303080)
#####
1
('diffscore', 3)
(1, 1801299)
#####
1
('diffscore', 1)
(2, 1193756)
#####
1

('diffscore', 2)
(1, 1690424)
#####
1
('diffscore', 1)
(1, 1720170)
#####
1
('diffscore', 1)
(1, 552201)
#####
1
('diffscore', 1)
(1, 1736034)
#####
1
('diffscore', 1)
(1, 828951)
#####
1
('diffscore', 1)
(1, 1889175)
#####
1
('diffscore', 1)
(1, 514701)
#####
1
('diffscore', 1)
(1, 1660826)
#####
1
('diffscore', 1)
(2, 978299)
#####
1
('diffscore', 2)
(1, 1814862)
#####
1
('diffscore', 1)
(1, 1498666)
#####
1
('diffscore', 1)
(1, 337073)
#####
1
('diffscore', 1)
(1, 282823)
#####
1
('diffscore', 1)
(1, 1248234)
#####
1
('diffscore', 1)
(1, 73978)
#####
1
('diffscore', 1)
(1, 1729377)
#####
1
('diffscore', 1)
(1, 1729379)
#####
1
('diffscore', 1)
(1, 329060)
#####
1
('diffscore', 1)
(1, 88687)
#####
1
('diffscore', 1)
(1, 941420)
#####
1
('diffscore', 1)
(2, 1451552)
#####
1
('diffscore', 2)
(1, 1023160)
#####
1
('diffscore', 1)
(1, 1723322)
#####
1
('diffscore', 1)
(1, 1111267)
#####
1
('diffscore', 1)
(1, 187622)
#####
1
('diffscore', 1)
(1, 1475793)
#####
1
('diffscore', 1)
(1, 1608661)
#####
1
('diffscore', 1)
(1, 1272342)
#####
1
('diffscore', 1)
(1, 963574)
#####
1
('diffscore', 1)
(1, 1690312)
#####
1
('diffscore', 1)
(1, 308046)
#####
1
('diffscore', 1)
(1, 1073882)
#####
1
('diffscore', 1)
(1, 1447472)
#####
1
('diffscore', 1)
(1, 866866)
#####
1
('diffscore', 1)
(1, 1720166)
#####
1
('diffscore', 1)
(2, 1731992)
#####
1
('diffscore', 2)
(1, 1509851)
#####
1
('diffscore', 1)
(1, 1253777)
#####
1
('diffscore', 1)
(1, 361598)
#####
1
('diffscore', 1)
(1, 1303034)
#####
1
('diffscore', 1)
(2, 1525941)
#####
1
('diffscore', 2)
(1, 302508)
#####
1
('diffscore', 1)
(1, 998640)
#####
1
('diffscore', 1)
(3, 2060480)
#####
1
('diffscore', 3)
(1, 1447473)
#####
1
('diffscore', 1)
(1, 690993)
#####
1
('diffscore', 1)
(1, 897079)
#####
1
('diffscore', 1)
(1, 839674)
#####
1
('diffscore', 1)
(1, 361931)
#####
1
('diffscore', 1)
(1, 2093542)
#####
1
('diffscore', 1)
(1, 337417)
#####
1
('diffscore', 1)
(1, 514103)
#####
1
('diffscore', 1)
(1, 1152004)
#####
1
('diffscore', 1)
(1, 869144)
#####
1
('diffscore', 1)
(1, 50340)
#####
1
('diffscore', 1)
(1, 941494)
#####
1
('diffscore', 1)
(1, 1780762)
#####
1
('diffscore', 1)
(1, 1614499)
#####
1
('diffscore', 1)
(1, 379197)
#####
1
('diffscore', 1)
(1, 1257454)
#####
1
('diffscore', 1)
(1, 1656775)
#####
1
('diffscore', 1)
(1, 878677)
#####
1
('diffscore', 1)
(1, 498491)
#####
1
('diffscore', 1)
(1, 296878)
#####
1
('diffscore', 1)
(1, 943261)
#####
1
('diffscore', 1)
(1, 1509845)
#####
1
('diffscore', 1)
(1, 1467572)
#####
1
('diffscore', 1)
(1, 111433)
#####
1
('diffscore', 1)
(1, 1689929)
#####
1
('diffscore', 1)
(1, 941051)
#####
1
('diffscore', 1)
(1, 205353)
#####
1
('diffscore', 1)
(1, 1655122)
#####
1
('diffscore', 1)
(1, 1510469)
#####
1
('diffscore', 1)
(6, 1745964)
#####
1
('diffscore', 6)
(1, 851176)
#####
1
('diffscore', 1)
(1, 941171)
#####
1
('diffscore', 1)
(1, 1154115)
#####
1
('diffscore', 1)
(1, 48338)
#####
1
('diffscore', 1)
(1, 187686)
#####
1
('diffscore', 1)
(1, 1729386)
#####
1
('diffscore', 1)
(1, 1720165)
#####
1
('diffscore', 1)
(24, 2151774)
#####
24
('diffscore', 1)
(24, 1683854)
#####
24
('diffscore', 1)
(25, 1683859)
#####
24
('diffscore', 1)
(26, 1683868)
#####
24
('diffscore', 1)
(24, 1683947)
#####
24
('diffscore', 1)
(27, 1683951)
#####
24
('diffscore', 1)
(24, 1683954)
#####
24
('diffscore', 1)
(25, 1684039)
#####
24
('diffscore', 1)
(25, 1684040)
#####
24
('diffscore', 1)
(24, 1684029)
#####
24
('diffscore', 1)
(33, 1684031)
#####
24
('diffscore', 1)
(28, 1684032)
#####
25
('diffscore', 1)
(25, 1684033)
#####
24
('diffscore', 1)
(30, 1684034)
#####
24
('diffscore', 1)
(32, 1684035)
#####
24
('diffscore', 1)
(24, 1684036)
#####
24
('diffscore', 1)
(24, 1684038)
#####
24
('diffscore', 1)
(28, 1684041)
#####
24
('diffscore', 1)
(30, 1684042)
#####
24
('diffscore', 1)
(37, 1684064)
#####
24
('diffscore', 1)
(31, 1684066)
#####
23
('diffscore', 1)
(5, 1162949)
#####
5
('diffscore', 1)
(7, 867052)
#####
5
('diffscore', 1)
(6, 1045263)
#####
5
('diffscore', 1)
(7, 1456165)
#####
7
('diffscore', 1)
(2, 813717)
#####
2
('diffscore', 1)
(9, 1030023)
#####
9
('diffscore', 1)
(9, 1479516)
#####
5
('diffscore', 1)
(9, 1033516)
#####
7
('diffscore', 1)
(8, 1519618)
#####
8
('diffscore', 1)
(8, 1862383)
#####
6
('diffscore', 1)
(2, 1874230)
#####
2
('diffscore', 1)
(6, 1041094)
#####
5
('diffscore', 1)
(12, 1479527)
#####
5
('diffscore', 2)
(5, 838182)
#####
4
('diffscore', 1)
(3, 787632)
#####
3
('diffscore', 1)
(1, 1862353)
#####
1
('diffscore', 1)
(1, 985150)
#####
1
('diffscore', 1)
(3, 1862384)
#####
3
('diffscore', 1)
(11, 750672)
#####
7
('diffscore', 1)
(13, 896523)
#####
9
('diffscore', 1)
(4, 1055150)
#####
3
('diffscore', 1)
(4, 827276)
#####
3
('diffscore', 1)
(1, 1479520)
#####
1
('diffscore', 1)
(1, 1479514)
#####
1
('diffscore', 1)
(1, 1466213)
#####
1
('diffscore', 1)
(7, 1479610)
#####
7
('diffscore', 1)
(2, 1053906)
#####
2
('diffscore', 1)
(4, 1385385)
#####
4
('diffscore', 1)
(3, 1684067)
#####
3
('diffscore', 1)
(3, 930667)
#####
3
('diffscore', 1)
(2, 750657)
#####
1
('diffscore', 2)
(1, 1130934)
#####
1
('diffscore', 1)
(7, 984931)
#####
7
('diffscore', 1)
(5, 2002548)
#####
4
('diffscore', 1)
(8, 813689)
#####
6
('diffscore', 1)
(5, 1555881)
#####
3
('diffscore', 1)
(11, 1053915)
#####
11
('diffscore', 1)
(7, 1555927)
#####
4
('diffscore', 1)
(2, 1053914)
#####
2
('diffscore', 1)
(8, 966511)
#####
7
('diffscore', 1)
(6, 1456082)
#####
6
('diffscore', 1)
(3, 1874227)
#####
3
('diffscore', 1)
(5, 813713)
#####
4
('diffscore', 1)
(3, 1555920)
#####
3
('diffscore', 1)
(3, 1862382)
#####
3
('diffscore', 1)
(3, 1992394)
#####
3
('diffscore', 1)
(3, 769054)
#####
3
('diffscore', 1)
(15, 1928356)
#####
7
('diffscore', 2)
(6, 984934)
#####
6
('diffscore', 1)
(4, 1684068)
#####
4
('diffscore', 1)
(6, 1512435)
#####
6
('diffscore', 1)
(5, 838181)
#####
5
('diffscore', 1)
(6, 972270)
#####
4
('diffscore', 1)
(3, 1519616)
#####
3
('diffscore', 1)
(4, 824121)
#####
4
('diffscore', 1)
(4, 1544131)
#####
2
('diffscore', 2)
(7, 1862379)
#####
6
('diffscore', 1)
(6, 2057331)
#####
4
('diffscore', 1)
(3, 1479480)
#####
3
('diffscore', 1)
(3, 985148)
#####
3
('diffscore', 1)
(5, 2002549)
#####
5
('diffscore', 1)
(3, 1067157)
#####
3
('diffscore', 1)
(4, 993681)
#####
4
('diffscore', 1)
(2, 1054248)
#####
2
('diffscore', 1)
(4, 1466210)
#####
2
('diffscore', 2)
(3, 1512500)
#####
2
('diffscore', 1)
(2, 1555885)
#####
2
('diffscore', 1)
(3, 1054301)
#####
2
('diffscore', 1)
(2, 1041096)
#####
2
('diffscore', 1)
(1, 1163351)
#####
1
('diffscore', 1)
(11, 896526)
#####
9
('diffscore', 1)
(2, 663889)
#####
2
('diffscore', 1)
(11, 1005218)
#####
8
('diffscore', 1)
(4, 889857)
#####
4
('diffscore', 1)
(27, 1512439)
#####
25
('diffscore', 1)
(6, 1479608)
#####
4
('diffscore', 1)
(2, 966141)
#####
2
('diffscore', 1)
(10, 889853)
#####
9
('diffscore', 1)
(2, 1862380)
#####
2
('diffscore', 1)
(3, 1555922)
#####
3
('diffscore', 1)
(1, 838183)
#####
1
('diffscore', 1)
(7, 1862354)
#####
6
('diffscore', 1)
(2, 832334)
#####
2
('diffscore', 1)
(10, 1506697)
#####
8
('diffscore', 1)
(2, 861395)
#####
2
('diffscore', 1)
(3, 813653)
#####
3
('diffscore', 1)
(7, 2276112)
#####
7
('diffscore', 1)
(3, 1684087)
#####
3
('diffscore', 1)
(3, 1896921)
#####
3
('diffscore', 1)
(3, 1041098)
#####
3
('diffscore', 1)
(8, 922683)
#####
5
('diffscore', 1)
(3, 1479519)
#####
2
('diffscore', 1)
(3, 823676)
#####
3
('diffscore', 1)
(8, 925914)
#####
8
('diffscore', 1)
(11, 990167)
#####
8
('diffscore', 1)
(1, 1037522)
#####
1
('diffscore', 1)
(7, 1489069)
#####
5
('diffscore', 1)
(3, 1684088)
#####
3
('diffscore', 1)
(7, 663887)
#####
7
('diffscore', 1)
(5, 1744593)
#####
4
('diffscore', 1)
(9, 362771)
#####
8
('diffscore', 1)
(4, 898580)
#####
4
('diffscore', 1)
(4, 861396)
#####
4
('diffscore', 1)
(4, 1555880)
#####
3
('diffscore', 1)
(3, 1519623)
#####
3
('diffscore', 1)
(6, 1874229)
#####
4
('diffscore', 1)
(5, 1683879)
#####
5
('diffscore', 1)
(9, 1066222)
#####
8
('diffscore', 1)
(3, 838977)
#####
2
('diffscore', 1)
(6, 1054306)
#####
6
('diffscore', 1)
(2, 1684089)
#####
2
('diffscore', 1)
(10, 362762)
#####
9
('diffscore', 1)
(3, 1580154)
#####
3
('diffscore', 1)
(3, 1684028)
#####
3
('diffscore', 1)
(12, 750656)
#####
5
('diffscore', 2)
(2, 855757)
#####
2
('diffscore', 1)
(9, 993678)
#####
8
('diffscore', 1)
(6, 362770)
#####
5
('diffscore', 1)
(11, 2090450)
#####
3
('diffscore', 3)
(5, 663934)
#####
4
('diffscore', 1)
(4, 1519614)
#####
1
('diffscore', 4)
(3, 1489070)
#####
3
('diffscore', 1)
(5, 1889319)
#####
5
('diffscore', 1)
(8, 838989)
#####
7
('diffscore', 1)
(11, 813692)
#####
9
('diffscore', 1)
(5, 838185)
#####
4
('diffscore', 1)
(12, 1512437)
#####
11
('diffscore', 1)
(1, 1255205)
#####
1
('diffscore', 1)
(4, 663953)
#####
3
('diffscore', 1)
(39, 966513)
#####
25
('diffscore', 1)
(6, 1555981)
#####
6
('diffscore', 1)
(6, 832270)
#####
5

('diffscore', 1)
(5, 828764)
#####
5
('diffscore', 1)
(7, 1322344)
#####
2
('diffscore', 3)
(3, 1030580)
#####
3
('diffscore', 1)
(3, 1512436)
#####
3
('diffscore', 1)
(3, 1164524)
#####
3
('diffscore', 1)
(1, 849651)
#####
1
('diffscore', 1)
(6, 984930)
#####
6
('diffscore', 1)
(3, 1512434)
#####
3
('diffscore', 1)
(27, 1874226)
#####
25
('diffscore', 1)
(6, 1555878)
#####
6
('diffscore', 1)
(5, 1479607)
#####
5
('diffscore', 1)
(12, 1862381)
#####
11
('diffscore', 1)
(3, 1067860)
#####
3
('diffscore', 1)
(7, 966145)
#####
6
('diffscore', 1)
(2, 663915)
#####
2
('diffscore', 1)
(3, 1475116)
#####
3
('diffscore', 1)
(2, 1896919)
#####
2
('diffscore', 1)
(4, 984935)
#####
4
('diffscore', 1)
(1, 299245)
#####
1
('diffscore', 1)
(2, 1053907)
#####
2
('diffscore', 1)
(5, 943110)
#####
5
('diffscore', 1)
(3, 823678)
#####
3
('diffscore', 1)
(1, 73980)
#####
1
('diffscore', 1)
(5, 930670)
#####
5
('diffscore', 1)
(3, 1993600)
#####
2
('diffscore', 1)
(12, 663952)
#####
10
('diffscore', 1)
(6, 828780)
#####
6
('diffscore', 1)
(1, 2090458)
#####
1
('diffscore', 1)
(7, 930669)
#####
6
('diffscore', 1)
(2, 832292)
#####
2
('diffscore', 1)
(1, 1992387)
#####
1
('diffscore', 1)
(5, 997870)
#####
4
('diffscore', 1)
(26, 827254)
#####
25
('diffscore', 1)
(1, 966527)
#####
1
('diffscore', 1)
(8, 1479606)
#####
8
('diffscore', 1)
(1, 1889169)
#####
1
('diffscore', 1)
(8, 362774)
#####
8
('diffscore', 1)
(1, 990166)
#####
1
('diffscore', 1)
(4, 1163105)
#####
2
('diffscore', 2)
(2, 990159)
#####
2
('diffscore', 1)
(1, 760479)
#####
1
('diffscore', 1)
(3, 500651)
#####
3
('diffscore', 1)
(1, 1491763)
#####
1
('diffscore', 1)
(1, 1732670)
#####
1
('diffscore', 1)
(6, 1145787)
#####
6
('diffscore', 1)
(2, 362775)
#####
2
('diffscore', 1)
(7, 1033491)
#####
5
('diffscore', 1)
(2, 1053598)
#####
1
('diffscore', 2)
(1, 1441449)
#####
1
('diffscore', 1)
(12, 1479515)
#####
10
('diffscore', 1)
(2, 824112)
#####
1
('diffscore', 2)
(2, 1479609)
#####
2
('diffscore', 1)
(3, 876904)
#####
1
('diffscore', 3)
(1, 813696)
#####
1
('diffscore', 1)
(2, 966158)
#####
2
('diffscore', 1)
(7, 1162948)
#####
7
('diffscore', 1)
(1, 153903)
#####
1
('diffscore', 1)
(2, 1526648)
#####
2
('diffscore', 1)
(2, 841706)
#####
1
('diffscore', 2)
(2, 1992483)
#####
2
('diffscore', 1)
(1, 1992484)
#####
1
('diffscore', 1)
(1, 1992485)
#####
1
('diffscore', 1)
(1, 1992487)
#####
1
('diffscore', 1)
(1, 1992488)
#####
1
('diffscore', 1)
(23, 2151775)
#####
23
('diffscore', 1)
(25, 1686784)
#####
23
('diffscore', 1)
(26, 1686785)
#####
22
('diffscore', 1)
(29, 1686786)
#####
22
('diffscore', 1)
(25, 1686787)
#####
22
('diffscore', 1)
(27, 1686788)
#####
22
('diffscore', 1)
(22, 1686789)
#####
22
('diffscore', 1)
(45, 1686790)
#####
22
('diffscore', 2)
(36, 1686791)
#####
22
('diffscore', 1)
(28, 1686792)
#####
22
('diffscore', 1)
(30, 1686793)
#####
21
('diffscore', 1)
(23, 1686767)
#####
22
('diffscore', 1)
(45, 1686769)
#####
22
('diffscore', 2)
(27, 1686771)
#####
21
('diffscore', 1)
(32, 1686772)
#####
21
('diffscore', 1)
(31, 1686774)
#####
20
('diffscore', 1)
(47, 1686775)
#####
19
('diffscore', 2)
(25, 1686781)
#####
21
('diffscore', 1)
(29, 1686776)
#####
21
('diffscore', 1)
(18, 1687424)
#####
13
('diffscore', 1)
(19, 862168)
#####
19
('diffscore', 1)
(10, 1336150)
#####
4
('diffscore', 2)
(16, 1687440)
#####
15
('diffscore', 1)
(45, 1334487)
#####
25
('diffscore', 1)
(15, 1449595)
#####
12
('diffscore', 1)
(16, 1687436)
#####
16
('diffscore', 1)
(10, 1336113)
#####
9
('diffscore', 1)
(19, 1456150)
#####
17
('diffscore', 1)
(10, 2228524)
#####
9
('diffscore', 1)
(19, 1687419)
#####
15
('diffscore', 1)
(7, 2228668)
#####
7
('diffscore', 1)
(21, 1197433)
#####
19
('diffscore', 1)
(7, 1433049)
#####
7
('diffscore', 1)
(18, 1687438)
#####
18
('diffscore', 1)
(26, 1460137)
#####
20
('diffscore', 1)
(18, 862176)
#####
18
('diffscore', 1)
(30, 1449464)
#####
15
('diffscore', 2)
(14, 914015)
#####
14
('diffscore', 1)
(14, 862100)
#####
13
('diffscore', 1)
(22, 1456149)
#####
16
('diffscore', 1)
(16, 1043042)
#####
16
('diffscore', 1)
(21, 1336115)
#####
12
('diffscore', 1)
(13, 1164527)
#####
13
('diffscore', 1)
(15, 1449596)
#####
9
('diffscore', 1)
(38, 1334483)
#####
25
('diffscore', 1)
(10, 1406829)
#####
5
('diffscore', 2)
(20, 914017)
#####
19
('diffscore', 1)
(15, 862170)
#####
15
('diffscore', 1)
(20, 914014)
#####
20
('diffscore', 1)
(19, 862171)
#####
14
('diffscore', 1)
(27, 1164525)
#####
19
('diffscore', 1)
(23, 1456153)
#####
19
('diffscore', 1)
(38, 1334485)
#####
25
('diffscore', 1)
(35, 1334484)
#####
25
('diffscore', 1)
(13, 1687418)
#####
11
('diffscore', 1)
(13, 1687441)
#####
12
('diffscore', 1)
(13, 1336114)
#####
5
('diffscore', 2)
(40, 1336116)
#####
18
('diffscore', 2)
(11, 1457540)
#####
8
('diffscore', 1)
(18, 862184)
#####
18
('diffscore', 1)
(9, 1456151)
#####
7
('diffscore', 1)
(8, 1433051)
#####
7
('diffscore', 1)
(8, 1336128)
#####
5
('diffscore', 1)
(12, 1164488)
#####
9
('diffscore', 1)
(21, 914018)
#####
19
('diffscore', 1)
(19, 862169)
#####
19
('diffscore', 1)
(13, 862182)
#####
12
('diffscore', 1)
(17, 1344066)
#####
15
('diffscore', 1)
(21, 914020)
#####
19
('diffscore', 1)
(12, 1687429)
#####
12
('diffscore', 1)
(18, 914016)
#####
18
('diffscore', 1)
(16, 1456015)
#####
14
('diffscore', 1)
(13, 1043041)
#####
13
('diffscore', 1)
(32, 1740151)
#####
25
('diffscore', 1)
(13, 362767)
#####
12
('diffscore', 1)
(13, 1433050)
#####
12
('diffscore', 1)
(13, 1456152)
#####
11
('diffscore', 1)
(11, 787678)
#####
8
('diffscore', 1)
(11, 1687439)
#####
10
('diffscore', 1)
(12, 1687443)
#####
10
('diffscore', 1)
(14, 1336124)
#####
8
('diffscore', 1)
(8, 1336104)
#####
7
('diffscore', 1)
(14, 1163561)
#####
7
('diffscore', 2)
(1, 628013)
#####
1
('diffscore', 1)
(1, 86574)
#####
1
('diffscore', 1)
(6, 1448735)
#####
5
('diffscore', 1)
(1, 1324583)
#####
1
('diffscore', 1)
(1, 1736024)
#####
1
('diffscore', 1)
(1, 1490328)
#####
1
('diffscore', 1)
(1, 1325594)
#####
1
('diffscore', 1)
(8, 1336121)
#####
6
('diffscore', 1)
(1, 83793)
#####
1
('diffscore', 1)
(1, 1325517)
#####
1
('diffscore', 1)
(5, 2228671)
#####
5
('diffscore', 1)
(4, 1336144)
#####
4
('diffscore', 1)
(6, 1406837)
#####
5
('diffscore', 1)
(7, 853282)
#####
5
('diffscore', 1)
(1, 1509286)
#####
1
('diffscore', 1)
(1, 1463920)
#####
1
('diffscore', 1)
(1, 1735428)
#####
1
('diffscore', 1)
(1, 52963)
#####
1
('diffscore', 1)
(1, 98972)
#####
1
('diffscore', 1)
(2, 1220966)
#####
1
('diffscore', 2)
(6, 2228683)
#####
5
('diffscore', 1)
(1, 303831)
#####
1
('diffscore', 1)
(1, 1072735)
#####
1
('diffscore', 1)
(2, 1258739)
#####
1
('diffscore', 2)
(1, 2199566)
#####
1
('diffscore', 1)
(1, 1072248)
#####
1
('diffscore', 1)
(1, 548137)
#####
1
('diffscore', 1)
(2, 870053)
#####
1
('diffscore', 2)
(1, 1974414)
#####
1
('diffscore', 1)
(1, 1258733)
#####
1
('diffscore', 1)
(2, 1072206)
#####
2
('diffscore', 1)
(1, 564228)
#####
1
('diffscore', 1)
(3, 948224)
#####
1
('diffscore', 3)
(2, 650583)
#####
1
('diffscore', 2)
(3, 548132)
#####
2
('diffscore', 1)
(2, 1243311)
#####
1
('diffscore', 2)
(2, 1258746)
#####
2
('diffscore', 1)
(1, 1064463)
#####
1
('diffscore', 1)
(1, 1258358)
#####
1
('diffscore', 1)
(1, 1241331)
#####
1
('diffscore', 1)
(1, 213905)
#####
1
('diffscore', 1)
(1, 624194)
#####
1
('diffscore', 1)
(1, 1393364)
#####
1
('diffscore', 1)
(1, 948225)
#####
1
('diffscore', 1)
(1, 1391873)
#####
1
('diffscore', 1)
(1, 1979263)
#####
1
('diffscore', 1)
(3, 848061)
#####
1
('diffscore', 3)
(1, 1064460)
#####
1
('diffscore', 1)
(1, 1343536)
#####
1
('diffscore', 1)
(1, 549725)
#####
1
('diffscore', 1)
(1, 649392)
#####
1
('diffscore', 1)
(1, 1064404)
#####
1
('diffscore', 1)
(1, 1258401)
#####
1
('diffscore', 1)
(1, 861616)
#####
1
('diffscore', 1)
(1, 754903)
#####
1
('diffscore', 1)
(2, 870063)
#####
1
('diffscore', 2)
(1, 548070)
#####
1
('diffscore', 1)
(1, 1398508)
#####
1
('diffscore', 1)
(1, 197642)
#####
1
('diffscore', 1)
(1, 613460)
#####
1
('diffscore', 1)
(1, 2220663)
#####
1
('diffscore', 1)
(2, 1343900)
#####
1
('diffscore', 2)
(1, 723544)
#####
1
('diffscore', 1)
(2, 1317162)
#####
1
('diffscore', 2)
(3, 885949)
#####
1
('diffscore', 3)
(1, 547182)
#####
1
('diffscore', 1)
(2, 624185)
#####
1
('diffscore', 2)
(1, 852609)
#####
1
('diffscore', 1)
(1, 653118)
#####
1
('diffscore', 1)
(1, 852541)
#####
1
('diffscore', 1)
(1, 1258735)
#####

1
('diffscore', 1)
(2, 1264469)
#####
1
('diffscore', 2)
(1, 1391736)
#####
1
('diffscore', 1)
(1, 842612)
#####
1
('diffscore', 1)
(1, 1064446)
#####
1
('diffscore', 1)
(1, 547180)
#####
1
('diffscore', 1)
(1, 852470)
#####
1
('diffscore', 1)
(1, 1740658)
#####
1
('diffscore', 1)
(1, 2183063)
#####
1
('diffscore', 1)
(3, 1072357)
#####
2
('diffscore', 1)
(1, 1072188)
#####
1
('diffscore', 1)
(1, 1700898)
#####
1
('diffscore', 1)
(1, 1264448)
#####
1
('diffscore', 1)
(1, 2041849)
#####
1
('diffscore', 1)
(1, 1255559)
#####
1
('diffscore', 1)
(1, 650557)
#####
1
('diffscore', 1)
(2, 2096093)
#####
1
('diffscore', 2)
(1, 550156)
#####
1
('diffscore', 1)
(1, 1973916)
#####
1
('diffscore', 1)
(1, 1332610)
#####
1
('diffscore', 1)
(1, 852441)
#####
1
('diffscore', 1)
(1, 217957)
#####
1
('diffscore', 1)
(1, 198477)
#####
1
('diffscore', 1)
(1, 1243268)
#####
1
('diffscore', 1)
(1, 1072374)
#####
1
('diffscore', 1)
(1, 948222)
#####
1
('diffscore', 1)
(1, 848148)
#####
1
('diffscore', 1)
(1, 2177008)
#####
1
('diffscore', 1)
(1, 1264433)
#####
1
('diffscore', 1)
(1, 217966)
#####
1
('diffscore', 1)
(2, 538244)
#####
1
('diffscore', 2)
(1, 550157)
#####
1
('diffscore', 1)
(1, 1072184)
#####
1
('diffscore', 1)
(1, 213897)
#####
1
('diffscore', 1)
(24, 2151776)
#####
24
('diffscore', 1)
(1, 564367)
#####
1
('diffscore', 1)
(1, 842831)
#####
1
('diffscore', 1)
(1, 217123)
#####
1
('diffscore', 1)
(1, 613548)
#####
1
('diffscore', 1)
(1, 2119801)
#####
1
('diffscore', 1)
(1, 213887)
#####
1
('diffscore', 1)
(24, 1713996)
#####
24
('diffscore', 1)
(24, 1713998)
#####
23
('diffscore', 1)
(23, 1703196)
#####
23
('diffscore', 1)
(28, 1703213)
#####
23
('diffscore', 1)
(23, 1707408)
#####
23
('diffscore', 1)
(23, 1703212)
#####
23
('diffscore', 1)
(25, 1703214)
#####
23
('diffscore', 1)
(33, 1703217)
#####
23
('diffscore', 1)
(28, 1707403)
#####
24
('diffscore', 1)
(34, 1707390)
#####
24
('diffscore', 1)
(34, 1707394)
#####
24
('diffscore', 1)
(27, 1703090)
#####
24
('diffscore', 1)
(27, 1703096)
#####
24
('diffscore', 1)
(31, 1703097)
#####
24
('diffscore', 1)
(34, 1703099)
#####
24
('diffscore', 1)
(27, 1703100)
#####
24
('diffscore', 1)
(27, 1703072)
#####
24
('diffscore', 1)
(37, 1703082)
#####
24
('diffscore', 1)
(24, 1703081)
#####
23
('diffscore', 1)
(41, 1703083)
#####
23
('diffscore', 1)
(43, 1703103)
#####
23
('diffscore', 1)
(26, 1702897)
#####
23
('diffscore', 1)
(74, 1703108)
#####
22
('diffscore', 3)
(3, 1045189)
#####
1
('diffscore', 3)
(1, 957307)
#####
1
('diffscore', 1)
(2, 840960)
#####
1
('diffscore', 2)
(5, 854922)
#####
3
('diffscore', 1)
(3, 1144175)
#####
2
('diffscore', 1)
(2, 956667)
#####
1
('diffscore', 2)
(1, 769090)
#####
1
('diffscore', 1)
(1, 1152953)
#####
1
('diffscore', 1)
(4, 964731)
#####
3
('diffscore', 1)
(3, 892132)
#####
3
('diffscore', 1)
(1, 2124125)
#####
1
('diffscore', 1)
(13, 1069209)
#####
12
('diffscore', 1)
(1, 963586)
#####
1
('diffscore', 1)
(17, 889409)
#####
11
('diffscore', 1)
(10, 783778)
#####
9
('diffscore', 1)
(9, 1069211)
#####
9
('diffscore', 1)
(6, 1475776)
#####
5
('diffscore', 1)
(1, 1693893)
#####
1
('diffscore', 1)
(15, 1278628)
#####
12
('diffscore', 1)
(5, 1475775)
#####
3
('diffscore', 1)
(26, 933320)
#####
25
('diffscore', 1)
(2, 1069210)
#####
2
('diffscore', 1)
(1, 767634)
#####
1
('diffscore', 1)
(2, 769095)
#####
1
('diffscore', 2)
(6, 1214433)
#####
3
('diffscore', 2)
(7, 891421)
#####
7
('diffscore', 1)
(11, 1061645)
#####
10
('diffscore', 1)
(16, 783782)
#####
12
('diffscore', 1)
(10, 783788)
#####
10
('diffscore', 1)
(3, 973036)
#####
3
('diffscore', 1)
(3, 892127)
#####
2
('diffscore', 1)
(10, 891415)
#####
8
('diffscore', 1)
(8, 841686)
#####
3
('diffscore', 2)
(8, 1501423)
#####
3
('diffscore', 2)
(1, 1045184)
#####
1
('diffscore', 1)
(10, 2285741)
#####
4
('diffscore', 2)
(3, 2084496)
#####
3
('diffscore', 1)
(10, 1214410)
#####
9
('diffscore', 1)
(1, 1928361)
#####
1
('diffscore', 1)
(9, 862463)
#####
9
('diffscore', 1)
(2, 1043054)
#####
1
('diffscore', 2)
(5, 1222388)
#####
5
('diffscore', 1)
(10, 1464290)
#####
10
('diffscore', 1)
(4, 1476375)
#####
4
('diffscore', 1)
(1, 1267420)
#####
1
('diffscore', 1)
(10, 1974460)
#####
9
('diffscore', 1)
(11, 1703137)
#####
8
('diffscore', 1)
(10, 1703141)
#####
10
('diffscore', 1)
(17, 856422)
#####
10
('diffscore', 1)
(16, 2285735)
#####
10
('diffscore', 1)
(7, 964905)
#####
2
('diffscore', 3)
(9, 1227300)
#####
6
('diffscore', 1)
(15, 1703162)
#####
9
('diffscore', 1)
(13, 2285795)
#####
8
('diffscore', 1)
(5, 1214431)
#####
4
('diffscore', 1)
(5, 1053898)
#####
4
('diffscore', 1)
(10, 2285793)
#####
7
('diffscore', 1)
(2, 892126)
#####
2
('diffscore', 1)
(16, 1278733)
#####
12
('diffscore', 1)
(10, 1322331)
#####
7
('diffscore', 1)
(5, 1278732)
#####
4
('diffscore', 1)
(7, 892128)
#####
6
('diffscore', 1)
(9, 1500921)
#####
5
('diffscore', 1)
(6, 1475777)
#####
2
('diffscore', 3)
(11, 2285794)
#####
9
('diffscore', 1)
(9, 997141)
#####
9
('diffscore', 1)
(9, 1069228)
#####
9
('diffscore', 1)
(2, 763807)
#####
2
('diffscore', 1)
(11, 1278626)
#####
9
('diffscore', 1)
(4, 1475772)
#####
4
('diffscore', 1)
(15, 2285737)
#####
9
('diffscore', 1)
(9, 964926)
#####
7
('diffscore', 1)
(4, 1322359)
#####
4
('diffscore', 1)
(3, 891442)
#####
2
('diffscore', 1)
(7, 1056326)
#####
6
('diffscore', 1)
(11, 1447865)
#####
9
('diffscore', 1)
(9, 1974424)
#####
7
('diffscore', 1)
(4, 783802)
#####
3
('diffscore', 1)
(16, 1214414)
#####
10
('diffscore', 1)
(2, 769094)
#####
2
('diffscore', 1)
(4, 854987)
#####
2
('diffscore', 2)
(2, 1152954)
#####
2
('diffscore', 1)
(2, 973052)
#####
2
('diffscore', 1)
(2, 957289)
#####
2
('diffscore', 1)
(10, 940723)
#####
10
('diffscore', 1)
(11, 1475833)
#####
9
('diffscore', 1)
(8, 2285796)
#####
7
('diffscore', 1)
(12, 783785)
#####
11
('diffscore', 1)
(11, 1500920)
#####
7
('diffscore', 1)
(2, 854988)
#####
2
('diffscore', 1)
(8, 997149)
#####
8
('diffscore', 1)
(36, 1474967)
#####
25
('diffscore', 1)
(2, 940713)
#####
1
('diffscore', 2)
(7, 854984)
#####
7
('diffscore', 1)
(10, 891439)
#####
7
('diffscore', 1)
(8, 1501420)
#####
8
('diffscore', 1)
(15, 854578)
#####
8
('diffscore', 1)
(14, 752923)
#####
10
('diffscore', 1)
(1, 984951)
#####
1
('diffscore', 1)
(18, 1069695)
#####
8
('diffscore', 2)
(12, 1152947)
#####
7
('diffscore', 1)
(7, 1322323)
#####
7
('diffscore', 1)
(6, 854220)
#####
6
('diffscore', 1)
(2, 964704)
#####
2
('diffscore', 1)
(12, 1214408)
#####
9
('diffscore', 1)
(1, 1267417)
#####
1
('diffscore', 1)
(7, 1278627)
#####
7
('diffscore', 1)
(10, 1065293)
#####
9
('diffscore', 1)
(9, 1069212)
#####
9
('diffscore', 1)
(5, 896850)
#####
5
('diffscore', 1)
(13, 1322365)
#####
9
('diffscore', 1)
(2, 710041)
#####
2
('diffscore', 1)
(13, 783762)
#####
10
('diffscore', 1)
(2, 957302)
#####
2
('diffscore', 1)
(9, 769089)
#####
7
('diffscore', 1)
(2, 1447648)
#####
1
('diffscore', 2)
(8, 1028711)
#####
8
('diffscore', 1)
(7, 978155)
#####
7
('diffscore', 1)
(1, 1608795)
#####
1
('diffscore', 1)
(1, 1354379)
#####
1
('diffscore', 1)
(1, 1322332)
#####
1
('diffscore', 1)
(1, 1618193)
#####
1
('diffscore', 1)
(1, 1294603)
#####
1
('diffscore', 1)
(3, 752963)
#####
3
('diffscore', 1)
(1, 1272633)
#####
1
('diffscore', 1)
(1, 1447862)
#####
1
('diffscore', 1)
(1, 1272624)
#####
1
('diffscore', 1)
(2, 406329)
#####
1
('diffscore', 2)
(6, 842787)
#####
6
('diffscore', 1)
(1, 1410848)
#####
1
('diffscore', 1)
(5, 783793)
#####
5
('diffscore', 1)
(2, 1066215)
#####
2
('diffscore', 1)
(5, 1214409)
#####
4
('diffscore', 1)
(6, 710051)
#####
6
('diffscore', 1)
(1, 1255340)
#####
1
('diffscore', 1)
(5, 2285736)
#####
5
('diffscore', 1)
(2, 1475771)
#####
2
('diffscore', 1)
(1, 61930)
#####
1
('diffscore', 1)
(5, 2285738)
#####
3
('diffscore', 1)
(2, 1322358)
#####
2
('diffscore', 1)
(1, 769092)
#####
1
('diffscore', 1)
(1, 1312304)
#####
1
('diffscore', 1)
(5, 862464)
#####
5
('diffscore', 1)
(1, 1501216)
#####
1
('diffscore', 1)
(2, 2285739)
#####
1
('diffscore', 2)
(5, 1214432)
#####
4
('diffscore', 1)
(5, 1098756)
#####
2
('diffscore', 2)
(2, 957284)
#####
2
('diffscore', 1)
(1, 1547616)
#####
1
('diffscore', 1)
(1, 1272627)
#####
1
('diffscore', 1)
(1, 783791)
#####
1
('diffscore', 1)
(3, 854985)
#####
3
('diffscore', 1)
(1, 1266475)
#####
1
('diffscore', 1)
(1, 201272)
#####
1
('diffscore', 1)
(1, 1467250)
#####
1
('diffscore', 1)
(3, 817216)
#####
2
('diffscore', 1)
(4, 854577)
#####
2
('diffscore', 2)
(4, 972943)
#####
3
('diffscore', 1)
(2, 1361284)
#####
1
('diffscore', 2)
(4, 1045193)
#####
2
('diffscore', 2)
(3, 997146)
#####
3
('diffscore', 1)
(1, 1004826)
#####
1
('diffscore', 1)
(2, 891441)
#####
2
('diffscore', 1)
(2, 1464289)
#####
2
('diffscore', 1)
(3, 710057)
#####
2
('diffscore', 1)
(1, 1475835)
#####
1
('diffscore', 1)
(1, 294980)
#####
1
('diffscore', 1)
(2, 823068)
#####
2
('diffscore', 1)
(1, 850769)
#####
1
('diffscore', 1)
(2, 1028647)
#####
2
('diffscore', 1)
(1, 1303087)
#####
1
('diffscore', 1)
(1, 1730578)
#####
1
('diffscore', 1)
(1, 1517432)
#####
1

('diffscore', 1)
(1, 1249920)
#####
1
('diffscore', 1)
(1, 548222)
#####
1
('diffscore', 1)
(1, 1327864)
#####
1
('diffscore', 1)
(1, 513225)
#####
1
('diffscore', 1)
(1, 1136384)
#####
1
('diffscore', 1)
(1, 876177)
#####
1
('diffscore', 1)
(2, 1241146)
#####
1
('diffscore', 2)
(1, 931535)
#####
1
('diffscore', 1)
(1, 1692813)
#####
1
('diffscore', 1)
(1, 549611)
#####
1
('diffscore', 1)
(1, 513220)
#####
1
('diffscore', 1)
(5, 1742601)
#####
4
('diffscore', 1)
(1, 1255680)
#####
1
('diffscore', 1)
(8, 1197416)
#####
8
('diffscore', 1)
(1, 1602779)
#####
1
('diffscore', 1)
(1, 156517)
#####
1
('diffscore', 1)
(1, 1646034)
#####
1
('diffscore', 1)
(1, 1654908)
#####
1
('diffscore', 1)
(7, 1519621)
#####
7
('diffscore', 1)
(6, 1070076)
#####
4
('diffscore', 1)
(2, 1884743)
#####
2
('diffscore', 1)
(1, 1266848)
#####
1
('diffscore', 1)
(1, 1253937)
#####
1
('diffscore', 1)
(1, 941077)
#####
1
('diffscore', 1)
(1, 941076)
#####
1
('diffscore', 1)
(1, 1266849)
#####
1
('diffscore', 1)
(2, 966150)
#####
2
('diffscore', 1)
(2, 1457951)
#####
2
('diffscore', 1)
(9, 1474968)
#####
5
('diffscore', 1)
(2, 1066213)
#####
2
('diffscore', 1)
(4, 1148057)
#####
4
('diffscore', 1)
(1, 1214415)
#####
1
('diffscore', 1)
(1, 972948)
#####
1
('diffscore', 1)
(4, 1385386)
#####
2
('diffscore', 2)
(6, 1336117)
#####
3
('diffscore', 2)
(3, 787651)
#####
3
('diffscore', 1)
(3, 1479605)
#####
3
('diffscore', 1)
(5, 984928)
#####
4
('diffscore', 1)
(7, 1336138)
#####
2
('diffscore', 3)
(1, 1067166)
#####
1
('diffscore', 1)
(2, 832247)
#####
2
('diffscore', 1)
(3, 1053895)
#####
2
('diffscore', 1)
(27, 2144152)
#####
25
('diffscore', 1)
(1, 1214416)
#####
1
('diffscore', 1)
(28, 838969)
#####
25
('diffscore', 1)
(2, 663886)
#####
2
('diffscore', 1)
(2, 1336153)
#####
2
('diffscore', 1)
(4, 787464)
#####
3
('diffscore', 1)
(3, 769049)
#####
3
('diffscore', 1)
(5, 844064)
#####
4
('diffscore', 1)
(4, 1222410)
#####
3
('diffscore', 1)
(3, 1145791)
#####
3
('diffscore', 1)
(2, 2276114)
#####
1
('diffscore', 2)
(3, 1526632)
#####
3
('diffscore', 1)
(2, 1992391)
#####
2
('diffscore', 1)
(1, 928673)
#####
1
('diffscore', 1)
(1, 1053910)
#####
1
('diffscore', 1)
(1, 1479476)
#####
1
('diffscore', 1)
(1, 1889318)
#####
1
('diffscore', 1)
(2, 824126)
#####
1
('diffscore', 2)
(3, 1054300)
#####
3
('diffscore', 1)
(1, 1449597)
#####
1
('diffscore', 1)
(1, 1992396)
#####
1
('diffscore', 1)
(1, 1992399)
#####
1
('diffscore', 1)
(3, 1684069)
#####
2
('diffscore', 1)
(5, 1506698)
#####
3
('diffscore', 1)
(3, 925916)
#####
3
('diffscore', 1)
(3, 966493)
#####
3
('diffscore', 1)
(3, 2057330)
#####
2
('diffscore', 1)
(3, 2002550)
#####
3
('diffscore', 1)
(1, 990162)
#####
1
('diffscore', 1)
(2, 1054302)
#####
2
('diffscore', 1)
(5, 1054238)
#####
3
('diffscore', 1)
(1, 1475834)
#####
1
('diffscore', 1)
(1, 1684027)
#####
1
('diffscore', 1)
(4, 1928355)
#####
2
('diffscore', 2)
(1, 1501425)
#####
1
('diffscore', 1)
(5, 1555932)
#####
5
('diffscore', 1)
(1, 957275)
#####
1
('diffscore', 1)
(3, 966491)
#####
3
('diffscore', 1)
(1, 1322329)
#####
1
('diffscore', 1)
(4, 1005222)
#####
2
('diffscore', 2)
(1, 1467248)
#####
1
('diffscore', 1)
(1, 862467)
#####
1
('diffscore', 1)
(2, 1162950)
#####
2
('diffscore', 1)
(1, 1018336)
#####
1
('diffscore', 1)
(3, 993675)
#####
3
('diffscore', 1)
(4, 1456166)
#####
4
('diffscore', 1)
(1, 990163)
#####
1
('diffscore', 1)
(8, 1466217)
#####
4
('diffscore', 2)
(1, 2276117)
#####
1
('diffscore', 1)
(1, 1683881)
#####
1
('diffscore', 1)
(3, 2002547)
#####
3
('diffscore', 1)
(1, 1457953)
#####
1
('diffscore', 1)
(1, 1928353)
#####
1
('diffscore', 1)
(4, 2276110)
#####
4
('diffscore', 1)
(2, 1066202)
#####
2
('diffscore', 1)
(1, 824114)
#####
1
('diffscore', 1)
(2, 930671)
#####
2
('diffscore', 1)
(2, 972242)
#####
2
('diffscore', 1)
(1, 1506695)
#####
1
('diffscore', 1)
(1, 1514797)
#####
1
('diffscore', 1)
(2, 663872)
#####
2
('diffscore', 1)
(27, 972282)
#####
25
('diffscore', 1)
(1, 663888)
#####
1
('diffscore', 1)
(1, 832309)
#####
1
('diffscore', 1)
(1, 1506704)
#####
1
('diffscore', 1)
(1, 823684)
#####
1
('diffscore', 1)
(5, 1030012)
#####
5
('diffscore', 1)
(2, 879741)
#####
1
('diffscore', 2)
(1, 1456118)
#####
1
('diffscore', 1)
(1, 1336147)
#####
1
('diffscore', 1)
(1, 1519619)
#####
1
('diffscore', 1)
(26, 993861)
#####
25
('diffscore', 1)
(1, 2063496)
#####
1
('diffscore', 1)
(1, 1054305)
#####
1
('diffscore', 1)
(1, 1129530)
#####
1
('diffscore', 1)
(2, 990164)
#####
2
('diffscore', 1)
(27, 1740524)
#####
25
('diffscore', 1)
(1, 1740525)
#####
1
('diffscore', 1)
(1, 1740536)
#####
1
('diffscore', 1)
(1, 1740538)
#####
1
('diffscore', 1)
(1, 1130933)
#####
1
('diffscore', 1)
(1, 1740552)
#####
1
('diffscore', 1)
(1, 1164523)
#####
1
('diffscore', 1)
(1, 1740555)
#####
1
('diffscore', 1)
(1, 892130)
#####
1
('diffscore', 1)
(1, 754734)
#####
1
('diffscore', 1)
(2, 1740557)
#####
1
('diffscore', 2)
(1, 1740559)
#####
1
('diffscore', 1)
(1, 919210)
#####
1
('diffscore', 1)
(2, 966623)
#####
1
('diffscore', 2)
(1, 1740560)
#####
1
('diffscore', 1)
(1, 1045220)
#####
1
('diffscore', 1)
(27, 1740561)
#####
25
('diffscore', 1)
(1, 1506699)
#####
1
('diffscore', 1)
(1, 1740563)
#####
1
('diffscore', 1)
(1, 1740564)
#####
1
('diffscore', 1)
(1, 985146)
#####
1
('diffscore', 1)
(2, 1740565)
#####
1
('diffscore', 2)
(2, 827266)
#####
2
('diffscore', 1)
(1, 1740566)
#####
1
('diffscore', 1)
(1, 1740568)
#####
1
('diffscore', 1)
(1, 1740569)
#####
1
('diffscore', 1)
(2, 933316)
#####
1
('diffscore', 2)
(2, 1740570)
#####
1
('diffscore', 2)
(1, 1740571)
#####
1
('diffscore', 1)
(1, 1740572)
#####
1
('diffscore', 1)
(1, 1740574)
#####
1
('diffscore', 1)
(1, 1740575)
#####
1
('diffscore', 1)
(1, 1740577)
#####
1
('diffscore', 1)
(1, 1740578)
#####
1
('diffscore', 1)
(4, 1028705)
#####
3
('diffscore', 1)
(1, 1740579)
#####
1
('diffscore', 1)
(1, 1740582)
#####
1
('diffscore', 1)
(1, 750665)
#####
1
('diffscore', 1)
(1, 1740583)
#####
1
('diffscore', 1)
(1, 1475836)
#####
1
('diffscore', 1)
(3, 1148445)
#####
3
('diffscore', 1)
(1, 1740586)
#####
1
('diffscore', 1)
(1, 840961)
#####
1
('diffscore', 1)
(1, 1740587)
#####
1
('diffscore', 1)
(1, 993679)
#####
1
('diffscore', 1)
(1, 1740589)
#####
1
('diffscore', 1)
(5, 896881)
#####
1
('diffscore', 5)
(1, 1740591)
#####
1
('diffscore', 1)
(1, 1740592)
#####
1
('diffscore', 1)
(1, 856419)
#####
1
('diffscore', 1)
(1, 1740595)
#####
1
('diffscore', 1)
(1, 963595)
#####
1
('diffscore', 1)
(2, 1740596)
#####
1
('diffscore', 2)
(2, 839903)
#####
2
('diffscore', 1)
(4, 960782)
#####
1
('diffscore', 4)
(1, 1500711)
#####
1
('diffscore', 1)
(1, 1740597)
#####
1
('diffscore', 1)
(1, 2276111)
#####
1
('diffscore', 1)
(1, 1474986)
#####
1
('diffscore', 1)
(1, 406633)
#####
1
('diffscore', 1)
(1, 1740598)
#####
1
('diffscore', 1)
(2, 1447643)
#####
2
('diffscore', 1)
(1, 1740599)
#####
1
('diffscore', 1)
(1, 1907453)
#####
1
('diffscore', 1)
(1, 972149)
#####
1
('diffscore', 1)
(2, 1682891)
#####
1
('diffscore', 2)
(1, 1222376)
#####
1
('diffscore', 1)
(1, 1512503)
#####
1
('diffscore', 1)
(1, 1578352)
#####
1
('diffscore', 1)
(1, 966234)
#####
1
('diffscore', 1)
(1, 960807)
#####
1
('diffscore', 1)
(1, 783781)
#####
1
('diffscore', 1)
(2, 966226)
#####
1
('diffscore', 2)
(1, 752957)
#####
1
('diffscore', 1)
(2, 752956)
#####
1
('diffscore', 2)
(1, 1294459)
#####
1
('diffscore', 1)
(2, 1370872)
#####
1
('diffscore', 2)
(1, 1703142)
#####
1
('diffscore', 1)
(1, 1543111)
#####
1
('diffscore', 1)
(1, 1543104)
#####
1
('diffscore', 1)
(1, 940717)
#####
1
('diffscore', 1)
(1, 905588)
#####
1
('diffscore', 1)
(1, 1693891)
#####
1
('diffscore', 1)
(1, 809734)
#####
1
('diffscore', 1)
(4, 752960)
#####
1
('diffscore', 4)
(1, 832063)
#####
1
('diffscore', 1)
(25, 1467252)
#####
25
('diffscore', 1)
(25, 1222454)
#####
25
('diffscore', 1)
(25, 1474966)
#####
25
('diffscore', 1)
(25, 1689627)
#####
25
('diffscore', 1)
(25, 1687950)
#####
25
('diffscore', 1)
(25, 1687929)
#####
25
('diffscore', 1)
(25, 1689632)
#####
25
('diffscore', 1)
(25, 1687930)
#####
25
('diffscore', 1)
(25, 1687934)
#####
25
('diffscore', 1)
(25, 1689690)
#####
25
('diffscore', 1)
(25, 1689664)
#####
25
('diffscore', 1)
(25, 2151780)
#####
25
('diffscore', 1)
(25, 1687959)
#####
25
('diffscore', 1)
(25, 1689779)
#####
25
('diffscore', 1)
(25, 1688084)
#####
25
('diffscore', 1)
(25, 1688089)
#####
25
('diffscore', 1)
(25, 1688014)
#####
25
('diffscore', 1)
(25, 1689884)
#####
25
('diffscore', 1)

In [68]:
difficulty_score_of_exercise

{1519616: 1,
 948224: 0,
 1519618: 1,
 1519619: 1,
 1519621: 1,
 1306631: 1,
 2199564: 1,
 2199566: 1,
 663953: 0,
 1730578: 1,
 274451: 0,
 840961: 1,
 1456149: 0,
 1456150: 0,
 1456151: 0,
 1456152: 0,
 1456153: 0,
 1689627: 1,
 2199581: 1,
 2199582: 1,
 2199584: 1,
 217123: 1,
 419876: 1,
 1456165: 1,
 552998: 1,
 870065: 0,
 1322332: 1,
 842831: 1,
 1519623: 1,
 294958: 1,
 1343536: 1,
 940723: 1,
 514103: 1,
 1241146: 0,
 985148: 1,
 1043054: 0,
 985150: 1,
 817216: 0,
 1547616: 1,
 294980: 1,
 503879: 1,
 878677: 1,
 1163351: 1,
 2151780: 1,
 1689690: 1,
 964704: 1,
 1513572: 1,
 1220966: 0,
 1466472: 1,
 854123: 1,
 657516: 1,
 1370872: 0,
 1322344: 0,
 2082934: 1,
 1130616: 1,
 362617: 1,
 964731: 0,
 1130620: 1,
 1130621: 1,
 1130622: 1,
 1130623: 0,
 1130624: 1,
 1130625: 0,
 1130626: 1,
 1130627: 1,
 1130628: 1,
 1130629: 1,
 1255559: 1,
 828780: 1,
 610445: 1,
 1974414: 1,
 972943: 0,
 1654908: 1,
 972948: 1,
 1067157: 1,
 1336153: 1,
 1974424: 0,
 1515673: 0,
 1069210: 1,
 1144175: 0,
 1069212: 1,
 1703162: 0,
 1067166: 1,
 1045189: 0,
 1317027: 1,
 1041094: 0,
 564367: 1,
 2214055: 0,
 1067176: 1,
 2285737: 0,
 2285738: 0,
 2285739: 0,
 1069228: 1,
 1489069: 0,
 1489070: 1,
 1243311: 0,
 649392: 1,
 1041096: 1,
 1689779: 1,
 1525941: 0,
 2084496: 1,
 1045193: 0,
 1530040: 1,
 905588: 1,
 51388: 1,
 848061: 0,
 1509567: 1,
 2060480: 0,
 1501216: 1,
 1693891: 1,
 832334: 1,
 1460598: 1,
 282823: 1,
 1322359: 1,
 854220: 1,
 1683881: 1,
 1687929: 1,
 1686775: 0,
 925914: 1,
 1992399: 1,
 925916: 1,
 839903: 1,
 1066213: 1,
 2285793: 0,
 2285794: 0,
 2285795: 0,
 2285796: 0,
 1889318: 1,
 1862353: 1,
 180457: 0,
 973036: 1,
 299245: 1,
 1501423: 0,
 1501425: 1,
 1241331: 1,
 1740565: 0,
 823678: 1,
 2119801: 1,
 832063: 1,
 73978: 1,
 956667: 0,
 73980: 1,
 465150: 1,
 862463: 1,
 862464: 1,
 862467: 1,
 467207: 1,
 564228: 1,
 1243268: 1,
 362762: 0,
 2220663: 1,
 1332610: 1,
 960782: 0,
 362767: 0,
 1618193: 1,
 362770: 0,
 362771: 0,
 848148: 1,
 752957: 1,
 362774: 1,
 362775: 1,
 960793: 1,
 1689884: 1,
 407838: 1,
 844064: 0,
 1447643: 1,
 962852: 1,
 1599782: 1,
 960807: 1,
 1163561: 0,
 1317162: 0,
 1506695: 1,
 2228524: 0,
 1513774: 1,
 153903: 1,
 1874226: 0,
 1874227: 1,
 1874229: 0,
 1874230: 1,
 1605943: 1,
 379197: 1,
 964926: 0,
 663872: 1,
 1447648: 0,
 2353474: 1,
 1707403: 0,
 1740575: 1,
 1053906: 1,
 1689929: 1,
 897079: 1,
 1065293: 0,
 1814862: 1,
 663887: 1,
 663888: 1,
 663889: 1,
 1655122: 1,
 993678: 0,
 1475833: 0,
 2124125: 1,
 1682891: 0,
 663952: 0,
 960866: 0,
 856419: 1,
 1460582: 1,
 993681: 1,
 876904: 0,
 663915: 1,
 547180: 1,
 783762: 0,
 547182: 1,
 375151: 1,
 1474963: 0,
 2064756: 1,
 1732670: 1,
 1010038: 0,
 832270: 0,
 1196408: 1,
 1475834: 1,
 1687930: 1,
 823676: 1,
 663934: 0,
 622975: 1,
 1689664: 1,
 2276110: 1,
 549611: 1,
 823684: 1,
 769089: 0,
 1862380: 1,
 957275: 1,
 993675: 1,
 1683854: 1,
 1862381: 0,
 121232: 0,
 1253777: 1,
 1474962: 1,
 1683859: 0,
 1474964: 1,
 1474965: 1,
 1474966: 1,
 1474967: 0,
 1474968: 0,
 1683868: 0,
 2276111: 1,
 946595: 0,
 1683879: 1,
 1343900: 0,
 1474986: 1,
 1431979: 1,
 1055150: 0,
 1030580: 1,
 1130933: 1,
 1130934: 1,
 1145791: 1,
 9562: 1,
 2228671: 1,
 1053910: 1,
 1454531: 1,
 823068: 1,
 2228683: 0,
 1685964: 1,
 1325517: 1,
 1454542: 1,
 1740536: 1,
 710051: 1,
 1509845: 1,
 653782: 1,
 1896919: 1,
 1896921: 1,
 653786: 1,
 1509851: 1,
 1018336: 1,
 1688014: 1,
 653795: 1,
 783782: 0,
 2093542: 1,
 61930: 1,
 1683947: 1,
 997870: 0,
 1683951: 0,
 1683954: 1,
 852470: 1,
 783785: 0,
 1303034: 1,
 2144763: 0,
 1258739: 0,
 653824: 1,
 653825: 1,
 1689632: 1,
 783788: 1,
 1688084: 1,
 1272342: 1,
 891415: 0,
 1735428: 1,
 1325594: 1,
 783791: 1,
 1174044: 1,
 1174045: 1,
 1174046: 1,
 1174048: 0,
 1174049: 1,
 1174050: 1,
 1174051: 1,
 1227300: 0,
 838181: 1,
 416294: 1,
 838183: 1,
 1303080: 0,
 205353: 1,
 1475116: 1,
 86574: 1,
 891439: 0,
 854577: 0,
 1174066: 1,
 1475772: 1,
 1742601: 0,
 201272: 1,
 1473082: 1,
 1684027: 1,
 1684028: 1,
 1473085: 1,
 1740525: 1,
 1684031: 0,
 1684032: 0,
 1684033: 0,
 1684034: 0,
 1684035: 0,
 1684036: 1,
 866885: 1,
 1684038: 1,
 1684039: 0,
 1684040: 0,
 1684041: 0,
 1684042: 0,
 406329: 0,
 1278733: 0,
 813653: 1,
 723544: 1,
 1740559: 1,
 164444: 1,
 914014: 1,
 914015: 1,
 1684064: 0,
 914017: 0,
 1684066: 0,
 1684067: 1,
 1684068: 1,
 1684069: 0,
 1028711: 1,
 2228668: 1,
 1069209: 0,
 88686: 1,
 88687: 1,
 88689: 1,
 1118839: 1,
 1684088: 1,
 813689: 0,
 813692: 0,
 997141: 1,
 813696: 1,
 852609: 1,
 856422: 0,
 1354379: 1,
 514701: 1,
 813713: 0,
 813717: 1,
 1847959: 1,
 98972: 1,
 1740570: 0,
 1430175: 1,
 1278626: 0,
 1614499: 1,
 1278628: 0,
 940713: 0,
 940717: 1,
 1479527: 0,
 1467252: 1,
 2285736: 1,
 858813: 1,
 858815: 1,
 1045184: 1,
 713411: 1,
 1130614: 1,
 1690310: 1,
 1740577: 1,
 1690312: 1,
 1041097: 1,
 1041098: 1,
 1740578: 1,
 1690319: 0,
 1690321: 1,
 1862354: 0,
 1740579: 1,
 1393364: 1,
 1253937: 1,
 303831: 1,
 1073882: 1,
 1992485: 1,
 1703142: 1,
 1294459: 1,
 1045220: 1,
 1098473: 1,
 1862379: 0,
 867052: 0,
 2090450: 0,
 1862382: 1,
 1862383: 0,
 1862384: 1,
 420596: 1,
 1501420: 1,
 832247: 1,
 1327864: 1,
 1907453: 1,
 201474: 1,
 1740587: 1,
 1053907: 1,
 809734: 1,
 2057331: 0,
 1278732: 0,
 1061645: 0,
 1491726: 1,
 1045263: 0,
 2276112: 1,
 1647377: 1,
 2276114: 0,
 2276117: 1,
 852441: 1,
 869144: 1,
 1336115: 0,
 832284: 1,
 1433050: 0,
 1448735: 0,
 1272624: 1,
 1433051: 0,
 832292: 1,
 1336113: 0,
 1336104: 0,
 1555932: 1,
 1266475: 1,
 824114: 1,
 824112: 0,
 690993: 1,
 1336114: 0,
 1491763: 1,
 1336116: 0,
 1703213: 0,
 1690424: 1,
 824121: 1,
 498491: 1,
 1336124: 0,
 892042: 1,
 824126: 0,
 1336117: 0,
 1416000: 1,
 1222454: 1,
 111433: 1,
 1336138: 0,
 308046: 1,
 1692813: 1,
 1336144: 1,
 1479480: 1,
 1506130: 1,
 1336147: 1,
 1067860: 1,
 1264469: 0,
 1336150: 0,
 1336121: 0,
 1272627: 1,
 1479514: 1,
 1479515: 0,
 1479516: 0,
 549725: 1,
 1479519: 0,
 1479520: 1,
 1729377: 1,
 1729379: 1,
 957284: 1,
 217957: 1,
 1143655: 1,
 1526632: 1,
 957289: 1,
 1729386: 1,
 930667: 1,
 1123180: 1,
 930669: 0,
 930670: 1,
 930671: 1,
 1467248: 1,
 1140200: 1,
 852541: 1,
 1467251: 0,
 842612: 1,
 1258358: 1,
 1526648: 1,
 1928361: 1,
 957307: 1,
 760479: 1,
 1979263: 1,
 1993600: 0,
 1336128: 0,
 1687439: 0,
 213897: 1,
 854922: 0,
 189325: 0,
 1889169: 1,
 881555: 1,
 1889175: 1,
 1491866: 1,
 1148445: 1,
 1491869: 1,
 1053598: 0,
 631711: 1,
 1258401: 1,
 1559458: 1,
 1069211: 1,
 881574: 1,
 1385385: 1,
 1361284: 0,
 500651: 1,
 1479605: 1,
 1479606: 1,
 1479607: 1,
 1479608: 0,
 1479609: 1,
 1723322: 1,
 1145787: 1,
 205759: 0,
 1543104: 1,
 1266848: 1,
 1928353: 1,
 854984: 1,
 854985: 1,
 854987: 0,
 854988: 1,
 2167759: 1,
 1449464: 0,
 990162: 1,
 990163: 1,
 990164: 1,
 1608661: 1,
 990166: 1,
 990167: 0,
 1928356: 0,
 2096093: 0,
 1264448: 1,
 948225: 1,
 1354725: 1,
 850769: 1,
 1090537: 1,
 1248234: 1,
 2285735: 0,
 1074156: 1,
 896850: 1,
 1512433: 1,
 1512434: 1,
 1512435: 1,
 1512436: 1,
 1512437: 0,
 963574: 1,
 1512439: 0,
 265209: 1,
 941051: 1,
 1070076: 0,
 889853: 0,
 889857: 1,
 963586: 1,
 1152004: 1,
 943110: 1,
 787464: 0,
 197642: 1,
 963595: 1,
 1272633: 1,
 2285741: 0,
 941076: 1,
 941077: 1,
 1475835: 1,
 1646034: 1,
 769049: 1,
 1780762: 1,
 769054: 1,
 1700898: 1,
 842787: 1,
 1740524: 0,
 767014: 1,
 1889319: 1,
 1745964: 0,
 754734: 1,
 993679: 1,
 1512500: 0,
 1514797: 1,
 1512503: 1,
 1072184: 1,
 1129530: 1,
 922683: 0,
 1072188: 1,
 652469: 1,
 750656: 0,
 750657: 0,
 769090: 1,
 1154115: 1,
 769092: 1,
 1510469: 1,
 769094: 1,
 764999: 1,
 750665: 1,
 984930: 1,
 1072206: 1,
 941135: 1,
 750672: 0,
 1703096: 0,
 1801299: 1,
 613460: 1,
 966158: 1,
 1608795: 1,
 1336412: 1,
 1466213: 1,
 1197416: 1,
 1475771: 1,
 984934: 1,
 1974460: 0,
 302453: 0,
 1152954: 1,
 1267417: 1,
 854578: 0,
 2057330: 0,
 941171: 1,
 885877: 1,
 1072248: 1,
 1580154: 1,
 1475775: 0,
 879741: 0,
 361598: 1,
 1336450: 0,
 1197191: 1,
 2063496: 1,
 1189002: 1,
 558221: 1,
 1406829: 0,
 217966: 1,
 1688089: 1,
 513220: 1,
 1687934: 1,
 484507: 1,
 943261: 1,
 1693893: 1,
 1703072: 0,
 1266849: 1,
 1928354: 0,
 1928355: 0,
 50340: 1,
 50341: 1,
 896881: 0,
 1703081: 0,
 1703082: 0,
 1703083: 0,
 613548: 1,
 1467250: 1,
 840960: 0,
 891421: 1,
 787632: 1,
 337073: 1,
 1703090: 0,
 1467572: 1,
 1033397: 1,
 1687950: 1,
 1479476: 1,
 1023160: 1,
 1703097: 0,
 1703099: 0,
 1703100: 0,
 885949: 0,
 1703103: 0,
 1475776: 0,
 1475777: 0,
 787651: 1,
 1703108: 0,
 957302: 1,
 603334: 1,
 1053895: 0,
 1164488: 0,
 513225: 1,
 1053898: 0,
 552139: 1,
 1594572: 1,
 1653968: 1,
 1475793: 1,
 48338: 1,
 1653971: 1,
 861396: 1,
 1498325: 1,
 1334486: 1,
 1334487: 0,
 1334488: 1,
 1334489: 1,
 1053914: 1,
 1053915: 1,
 787678: 0,
 892127: 0,
 892128: 0,
 1703137: 0,
 892130: 1,
 1111267: 1,
 892132: 1,
 838182: 0,
 187622: 1,
 1066215: 1,
 851176: 1,
 1278627: 1,
 978155: 1,
 1164524: 1,
 1334482: 1,
 1164526: 1,
 1686767: 0,
 998640: 1,
 1686769: 0,
 861395: 1,
 1686772: 0,
 326901: 1,
 1686774: 0,
 838185: 0,
 1686776: 0,
 1334484: 0,
 1258746: 1,
 213887: 1,
 1686793: 0,
 1686781: 0,
 1813758: 1,
 1334485: 0,
 1686784: 0,
 1686785: 0,
 1686786: 0,
 1686787: 0,
 1686788: 0,
 1686789: 1,
 1686790: 0,
 1686791: 0,
 1686792: 0,
 552201: 1,
 326922: 1,
 326923: 0,
 326924: 1,
 550157: 1,
 1687959: 1,
 1033491: 0,
 861461: 1,
 1004826: 1,
 752923: 0,
 1703196: 1,
 1066202: 1,
 1508641: 1,
 853282: 0,
 1602779: 1,
 548132: 0,
 187686: 1,
 891441: 1,
 548137: 1,
 1033516: 0,
 866866: 1,
 1703214: 0,
 1703217: 0,
 892126: 1,
 754903: 1,
 1500711: 1,
 726329: 0,
 710057: 0,
 752956: 0,
 650557: 1,
 1447231: 1,
 752960: 0,
 838977: 0,
 752963: 1,
 1148230: 1,
 1506632: 0,
 1687436: 1,
 838989: 0,
 972242: 1,
 1322323: 1,
 650583: 0,
 1736024: 1,
 1322329: 1,
 2151770: 1,
 2151771: 1,
 828764: 1,
 2151774: 1,
 2151775: 1,
 2151776: 1,
 1736034: 1,
 329059: 0,
 329060: 1,
 548070: 1,
 213905: 1,
 206184: 1,
 941420: 1,
 1684029: 1,
 1578352: 1,
 1258733: 1,
 1740148: 1,
 138613: 1,
 1322358: 1,
 1740151: 0,
 1197433: 0,
 978299: 0,
 1322365: 0,
 1707390: 0,
 1361282: 1,
 1164523: 1,
 1457540: 0,
 968070: 1,
 889409: 0,
 1506697: 0,
 1506698: 0,
 941451: 1,
 1344066: 0,
 1164525: 0,
 1148304: 1,
 368018: 1,
 1066222: 0,
 1154455: 1,
 1731992: 0,
 710041: 1,
 1164527: 1,
 993861: 0,
 783778: 0,
 767395: 0,
 783781: 1,
 1555878: 1,
 1555880: 0,
 1555881: 0,
 1884743: 1,
 302508: 1,
 1555885: 1,
 1707394: 0,
 1258735: 1,
 861616: 1,
 783793: 1,
 1686771: 0,
 941494: 1,
 361912: 1,
 783802: 0,
 1007178: 0,
 1703141: 1,
 1740572: 1,
 1490328: 1,
 1072357: 0,
 933316: 0,
 1072374: 1,
 928673: 1,
 933320: 0,
 361931: 1,
 1555920: 1,
 1555922: 1,
 1064404: 1,
 832309: 1,
 2194902: 1,
 1555927: 0,
 1433049: 1,
 2090458: 1,
 1514971: 1,
 1674716: 1,
 2194909: 1,
 99811: 1,
 1707496: 0,
 973052: 1,
 972270: 0,
 1322331: 0,
 2194929: 1,
 838969: 0,
 406633: 1,
 1453560: 1,
 1740583: 1,
 972282: 0,
 966141: 1,
 1064446: 1,
 966145: 0,
 818692: 1,
 966150: 1,
 1391873: 1,
 337417: 1,
 896523: 0,
 1064460: 1,
 1555981: 1,
 896526: 0,
 1064463: 1,
 898580: 1,
 828951: 1,
 1148057: 1,
 2285085: 1,
 1054238: 0,
 1451552: 0,
 1028705: 0,
 1158692: 1,
 1324583: 1,
 1054248: 1,
 1028647: 1,
 1498666: 1,
 302635: 1,
 1054301: 0,
 1447472: 1,
 1447473: 1,
 1332789: 1,
 326921: 1,
 624185: 0,
 769095: 0,
 1456166: 1,
 1506699: 1,
 156517: 1,
 1130049: 0,
 624194: 1,
 1294603: 1,
 1056326: 0,
 1043041: 1,
 550156: 1,
 906826: 1,
 1043042: 1,
 966226: 0,
 122454: 1,
 1447865: 0,
 914020: 0,
 966234: 1,
 1054300: 1,
 1479610: 1,
 1054302: 1,
 1072735: 1,
 1054305: 1,
 1054306: 1,
 1992302: 0,
 1463920: 1,
 2002547: 1,
 2002548: 0,
 1447541: 1,
 2002550: 1,
 1449595: 0,
 1449596: 0,
 870013: 1,
 956035: 1,
 538244: 0,
 1385386: 0,
 1601164: 1,
 1074832: 1,
 876177: 1,
 767634: 1,
 427669: 1,
 120474: 1,
 118428: 1,
 1098756: 0,
 1005218: 0,
 870053: 0,
 870054: 1,
 1259177: 1,
 919210: 1,
 1543111: 1,
 870061: 1,
 870063: 0,
 1410737: 1,
 891442: 0,
 972149: 1,
 1255680: 1,
 2002549: 1,
 1992387: 1,
 1162948: 1,
 1162949: 1,
 1162950: 1,
 1992391: 1,
 1992394: 1,
 1684087: 1,
 1992396: 1,
 855757: 1,
 931535: 1,
 1744593: 0,
 1506704: 1,
 1684089: 1,
 1623768: 1,
 914016: 1,
 990159: 1,
 1267420: 1,
 1623776: 1,
 52963: 1,
 1746661: 1,
 1222376: 1,
 1740522: 1,
 1398508: 1,
 1456082: 1,
 1449597: 1,
 849651: 1,
 1222388: 1,
 964905: 0,
 1500920: 0,
 1500921: 0,
 1740538: 1,
 1069695: 0,
 1163004: 1,
 1740541: 1,
 1260501: 1,
 1136384: 1,
 1249920: 1,
 1740547: 1,
 294660: 1,
 1475836: 1,
 1740552: 1,
 1703212: 1,
 1222410: 0,
 ...}

In [66]:
df.loc[df['ExerciseId'] == 2214055]

,SubmitDateTime,UserId,ExerciseId,LearningObjectiveId,Correct,AbilityAfterAnswer
1,2017-11-28 07:33:16.340,2041,2214055,785,0,542
2,2017-11-28 07:33:19.497,2041,2214055,785,0,NULL
3,2017-11-28 07:33:26.300,2041,2214055,785,1,NULL

In [47]:

data_ = df[(df['UserId'] == 2041)]["ExerciseId"]
data_

0       1132397
1       2214055
2       2214055
3       2214055
4       1599782
5        484507
6        558221
8        632762
9       1130049
10      1130049
32       302635
57      1512433
64      1928354
67      2151770
73      2151771
82       966492
91      1067176
97      1041097
111      832284
124     1740148
132     1740522
136     1740541
145     1740547
153     1334482
162     1334489
164     1334486
169     1334488
173     1152951
184     1152955
193     1467251
         ...
6285    1740151
6296    1740524
6308    2144152
6314    1334483
6321    1334484
6326    1334485
6330    1334487
6338    1152951
6347    1467251
6366     933320
6376    1467252
6391    1222454
6405    1474966
6417    1474963
6425    1474967
6788    1689627
6796    1687950
6810    1687929
6834    1689632
6840    1687930
6854    1687934
6871    1689690
6890    1689664
6901    2151780
6919    1687959
6933    1689779
6964    1688084
6975    1688089
6990    1688014
7038    1689884
Name: ExerciseId, Length: 390, dtype: int64

In [51]:
len(df[(df['UserId'] == 2041)]["ExerciseId"])

390

In [61]:
# Create variable with TRUE if nationality is USA
american = csv_data['ExerciseId'] == 1688014

# Create variable with TRUE if age is greater than 50
elderly = csv_data['Correct'] == 1

# Select all cases where nationality is USA and age is greater than 50
csv_data[american & elderly]

,SubmitDateTime,UserId,ExerciseId,LearningObjectiveId,Correct,AbilityAfterAnswer
6989,2017-12-04 08:40:49.400,2087,1688014,7579,1,NULL
6990,2017-12-04 08:40:49.780,2041,1688014,7579,1,NULL
6999,2017-12-04 08:40:59.383,2058,1688014,7579,1,NULL
7001,2017-12-04 08:41:01.523,2102,1688014,7579,1,NULL
7023,2017-12-04 08:41:28.063,2031,1688014,7579,1,NULL
7027,2017-12-04 08:41:30.753,2071,1688014,7579,1,NULL
7051,2017-12-04 08:41:59.490,2070,1688014,7579,1,NULL
7055,2017-12-04 08:42:07.620,2017,1688014,7579,1,NULL
7056,2017-12-04 08:42:09.033,2016,1688014,7579,1,NULL
7108,2017-12-04 08:43:59.450,2043,1688014,7579,1,NULL
7109,2017-12-04 08:44:02.203,2083,1688014,7579,1,NULL
7125,2017-12-04 08:45:34.717,2096,1688014,7579,1,NULL
7131,2017-12-04 08:45:54.983,2056,1688014,7579,1,NULL
7144,2017-12-04 08:47:20.053,2078,1688014,7579,1,NULL
7150,2017-12-04 08:48:21.900,2099,1688014,7579,1,NULL