In [1]:
import json
import pandas as pd

In [6]:
filePath = "../data/data.csv"

In [7]:
df = pd.read_csv(filePath)

In [328]:
df.head()

,SubmitDateTime,UserId,ExerciseId,LearningObjectiveId,Correct,AbilityAfterAnswer
0,2017-11-28 07:32:54.487,2041,1132397,785,1,552
1,2017-11-28 07:33:16.340,2041,2214055,785,0,542
2,2017-11-28 07:33:19.497,2041,2214055,785,0,NULL
3,2017-11-28 07:33:26.300,2041,2214055,785,1,NULL
4,2017-11-28 07:33:35.043,2041,1599782,785,1,544

In [8]:
data_ = df[(df['UserId'] == 2041) & (df['LearningObjectiveId'] == 785)]["ExerciseId"].unique()

In [9]:
df['UserId'] == 2041

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7       False
8        True
9        True
10       True
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
7126    False
7127    False
7128    False
7129    False
7130    False
7131    False
7132    False
7133    False
7134    False
7135    False
7136    False
7137    False
7138    False
7139    False
7140    False
7141    False
7142    False
7143    False
7144    False
7145    False
7146    False
7147    False
7148    False
7149    False
7150    False
7151    False
7152    False
7153    False
7154    False
7155    False
Name: UserId, Length: 7156, dtype: bool

### Generate Random Data

In [305]:
import random
from datetime import datetime as dt

In [316]:
new_data = []
for i in range(0, 8000):
    att = {}
    att['AbilityAfterAnswer'] = random.randint(100, 1000)
    att['UserId'] = random.randint(3000, 3100)
    att['Correct'] = random.randint(0, 1)
    att['LearningObjectiveId'] = random.randint(670, 680)
    att['SubmitDateTime'] = dt.now().strftime("%F %H:%M:%S.%f")
    att['ExerciseId'] = random.randint(100000, 300000)
    new_data.append(att)

In [318]:
new_df = pd.DataFrame(new_data)

In [319]:
new_df.to_csv("../AppLabServer/data/random-data.csv")

In [329]:
new_df.head()

,AbilityAfterAnswer,Correct,ExerciseId,LearningObjectiveId,SubmitDateTime,UserId
0,439,0,206485,673,2018-04-21 15:41:37.894751,3057
1,800,1,275954,674,2018-04-21 15:41:37.894818,3021
2,530,0,132677,671,2018-04-21 15:41:37.894854,3054
3,457,1,192364,673,2018-04-21 15:41:37.894889,3004
4,269,1,168926,680,2018-04-21 15:41:37.894920,3050

### Tests

In [320]:
import requests as req

In [262]:
hostname = "http://localhost:5000"

In [321]:
URL = hostname + "/scores/user_id=2041&learning_obj_id=785&exercise_id=2214055"

In [265]:
data = [{"SubmitDateTime":"2017-11-28 07:32:54.487","UserId":204500,"ExerciseId":1132397,"LearningObjectiveId":785,"Correct":1,"AbilityAfterAnswer":"552 "},{"SubmitDateTime":"2017-11-28 07:33:16.340","UserId":204500,"ExerciseId":2214055,"LearningObjectiveId":785,"Correct":0,"AbilityAfterAnswer":"542 "},{"SubmitDateTime":"2017-11-28 07:33:19.497","UserId":204500,"ExerciseId":2214055,"LearningObjectiveId":785,"Correct":0,"AbilityAfterAnswer":"NULL "}]

In [323]:
req.get(hostname + "/number_of_data").json()

{'number_of_data': 8000}